---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Credentials APIs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        margin: 0;
        padding-top: 40px;
      }

      nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }
      #links_container {
          margin: 0;
          padding: 0;
          background-color: #0033a0;
      }

      #links_container li {
          display: inline-block;
          padding: 10px;
          color: white;
          cursor: pointer;
      }
    </style>
  </head>
  <body>

    <!-- Top navigation placeholder -->
    <nav>
      <ul id="links_container">
      </ul>
    </nav>

    <redoc scroll-y-offset="body > nav"></redoc>

    <script src="https://sunbirdpublic.blob.core.windows.net/documentationassets/redoc.standalone.js"> </script>
    <script>
      // list of APIS
      var apis = [
        {
          name: 'Certificate',
          url: `${baseURL.href}/apis/certificate/certificate.yaml`
        },
        {
          name: 'Certificate Registry',
          url: `${baseURL.href}/apis/certificateregistry/certificateregistryapi.yaml`
        }
      ];

      // initially render first API
      Redoc.init(apis[0].url);

      function onClick() {
        var url = this.getAttribute('data-link');
        Redoc.init(url);
      }

      // dynamically building navigation items
      var $list = document.getElementById('links_container');
      apis.forEach(function(api) {
        var $listitem = document.createElement('li');
        $listitem.setAttribute('data-link', api.url);
        $listitem.innerText = api.name;
        $listitem.addEventListener('click', onClick);
        $list.appendChild($listitem);
      });
    </script>
  </body>
</html>

<!-- ---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <meta name="robots" content="index, follow">
    <script src="https://sunbirdpublic.blob.core.windows.net/documentationassets/redoc.standalone.js"> </script>
  </head>
  <body>
    {% include header.html %}
    <div class="apidoc inner__content fixed-content">
      <div class="container 1">
        <redoc suppress-warnings></redoc>
        <script>
          yamlLink = '/apis/certificate/certificate.yaml';
          yamlBasedLink = baseURL.href + yamlLink;
          Redoc.init(yamlBasedLink);
        </script>
        <script>
          yamlLink = '/apis/certificateregistry/certificateregistryapi.yaml';
          yamlBasedLink = baseURL.href + yamlLink;
          Redoc.init(yamlBasedLink);
        </script>
      </div>
      <div class="container 2">
        <redoc suppress-warnings></redoc>
        <script>
          yamlLink = '/apis/certificateregistry/certificateregistryapi.yaml';
          yamlBasedLink = baseURL.href + yamlLink;
          Redoc.init(yamlBasedLink);
        </script>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html> -->