---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <meta name="robots" content="index, follow">
    <script src="https://sunbirdpublic.blob.core.windows.net/documentationassets/redoc.standalone.js"> </script>
  </head>
  <body>
    {% include header.html %}
    <div class="apidoc inner__content fixed-content">
      <div class="container 1">
        <redoc suppress-warnings></redoc>
        <script>
          yamlLink1 = '/apis/certificate/certificate.yaml';
          yamlBasedLink1 = baseURL.href + yamlLink1;
          Redoc.init(yamlBasedLink1);
        </script>
        <script>
          yamlLink2 = '/apis/certificateregistry/certificateregistryapi.yaml';
          yamlBasedLink2 = baseURL.href + yamlLink2;
          Redoc.init(yamlBasedLink2);
        </script>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>