openapi: 3.0.0
info:
  title: Bulk_Approve
  termsOfService: "https://github.com/project-sunbird/sunbird-commons/blob/master/LICENSE"
  description: These api's are all about the bulk approval of the contents which includes scenarios like create, update, read and search operations in that.

  contact:
    email: info@sunbird.org
  version: "1.0"
servers:
  - url: https://dock.sunbirded.org/api
externalDocs:
  description: "Testcases"
  url: "https://www.getpostman.com/collections/f411ad92af3fe867a8cb"
paths:
  /program/v1/process/create:
    post:
      tags:
        - Success
      summary: Success-200
      operationId: Success-200
      description: |-
        This API creates the bulk job of the content.
           - The **_process/create_** endpoint creates the bulk job approval for contents.
           - All fields marked with an * are mandatory
           - Required fields cannot be null or empty
           - Backend Route: http://program-service:6000/program/v1/process/create
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "This represents the create process request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
            example:
              request:
                process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5ee4
                program_id: d3183400-f729-11ea-a660-c91ae7e44037
                collection_id: do_113108485878816768110286
                org_id: 01307938306521497658
                type: bulk_approval
                status: processing
                overall_stats:
                  approve_success: 0
                  approve_failed: 0
                  approve_pending: 7
                  total: 7
                createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
                createdon: 2020-12-04T11:37:03.13Z
        required: true
      responses:
        200:
          description: "This represents the response of the api"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Create-bulk-Job-Success-200"
              example:
                id: api.process.create
                ver: 1.0
                ts: 2021-01-06T11:30:50.3Z
                params:
                  resmsgid: a0d6d7c0-5012-11eb-a115-db22788c28aa
                  msgid: a0709be0-5012-11eb-a115-db22788c28aa
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  id: 391
                  process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5664
                  program_id: d3183400-f729-11ea-a660-c91ae7e44037
                  collection_id: do_113108485878816768110286
                  org_id: 01307938306521497658
                  type: bulk_approval
                  status: processing
                  overall_stats:
                    total: 7
                    approve_failed: 0
                    approve_pending: 7
                    approve_success: 0
                  createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
                  createdon: 2020-12-04T11:37:03.13Z
                  data:
                  err_message:
                  updatedby:
                  updatedon: 2021-01-06T11:30:50.261Z
                  completedon:
                  expiration:
      deprecated: false
  /program/v1/process/update:
    patch:
      tags:
        - Success
      summary: success-200
      operationId: success-200
      description: |-
        This API updates the bulk job approval of the content.
           - The **_process/update** endpoint updates the bulk job approve of the content.
           - All fields marked with an * are mandatory
           - Required fields cannot be null or empty
           - Backend Route: http://program-service:6000/program/v1/process/create
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "This represents the request body of the process update request"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateRequest"
            example:
              request:
                process_id: 16264756-c71c-4061-a99c-bfab0556d047
                status: processing
                overall_stats:
                  approve_success: 44
                  approve_failed: 0
                  approve_pending: -40
                  total: 4
                updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
        required: true
      responses:
        200:
          description: "This represents the Process-update response of the api"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Process-update-success-200-Response"
              example:
                id: api.process.update
                ver: 1.0
                ts: 2021-01-06T12:26:27.188Z
                params:
                  resmsgid: 65c78b40-501a-11eb-a115-db22788c28aa
                  msgid: 6562fd10-501a-11eb-a115-db22788c28aa
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  process_id: 16264756-c71c-4061-a99c-bfab0556d047
      deprecated: false
  /program/v1/process/read/98c5d59a-5e8d-41ec-99d4-9cad8fef5ee2:
    get:
      tags:
        - Success
      summary: Success-200
      operationId: GetSuccess-200
      description: |-
        This API reads the bulk job approval of the content.
           - The **_process/read_** endpoint read the bulk job approve of the content.
           - All fields marked with an * are mandatory
           - Required fields cannot be null or empty
           - Backend Route: http://program-service:6000/program/v1/process/read
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      responses:
        200:
          description: "This represents the response of the api"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Process-Read-Success-200"
              example:
                id: api.process.read
                ver: 1.0
                ts: 2021-01-06T13:06:53.323Z
                params:
                  resmsgid: 0bde5db0-5020-11eb-a115-db22788c28aa
                  msgid: 0b4503e0-5020-11eb-a115-db22788c28aa
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  id: 300
                  process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5ee2
                  program_id: d3183400-f729-11ea-a660-c91ae7e44037
                  collection_id: do_113108485878816768110286
                  org_id: 01307938306521497658
                  status: processing
                  type: bulk_approval
                  overall_stats:
                    total: 7
                    approve_failed: 0
                    approve_pending: -37
                    approve_success: 44
                  data:
                  err_message:
                  createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
                  updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
                  createdon: 2020-12-04T11:37:03.13Z
                  updatedon: 2020-12-04T11:39:25.265Z
                  completedon:
                  expiration:
      deprecated: false
  /program/v1/process/search:
    post:
      tags:
        - Success
      summary: Success-200
      operationId: PostSuccess-200
      description: |-
        This API search the bulk job approval of the content.
           - The **_process/search_** endpoint search the bulk job approve of the content.
           - All fields marked with an * are mandatory
           - Required fields cannot be null or empty
           - Backend Route: http://program-service:6000/program/v1/process/search
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "This represents the search request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              request:
                filters:
                  program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
                  collection_id: do_113112787166773248110944
        required: true
      responses:
        200:
          description: "This represents the response of the api"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Process-Search-Success-200"
              example:
                id: api.process.search
                ver: 1.0
                ts: 2021-01-06T13:07:45.175Z
                params:
                  resmsgid: 2ac65a70-5020-11eb-a115-db22788c28aa
                  msgid: 2a5c7510-5020-11eb-a115-db22788c28aa
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  count: 1
                  process:
                    - id: 299
                      process_id: 3bd5eb6a-6de0-4a64-9051-0882bfd76480
                      program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
                      collection_id: do_113112787166773248110944
                      org_id: 01307938306521497658
                      status: processing
                      type: bulk_approval
                      overall_stats:
                        total: 2
                        approve_failed: 0
                        approve_pending: -42
                        approve_success: 44
                      data:
                      err_message:
                      createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
                      updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
                      createdon: 2020-12-04T10:59:04.797Z
                      updatedon: 2020-12-04T11:35:21.942Z
                      completedon:
                      expiration:
      deprecated: false
  /program/v1/process/read/98c5d59a-5e8d-41ec-99d4-9cad8fef5ee:
    get:
      tags:
        - Error
      summary: Error-404
      operationId: GetError-404
      description: |-
        This API read the bulk job approval of the content.
           - The **_process/read_** endpoint read the bulk job approve of the content.
           - All fields marked with an * are mandatory
           - Required fields cannot be null or empty
           - Backend Route: http://program-service:6000/program/v1/process/read
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      responses:
        200:
          description: "This represents the response of the api"
      deprecated: false
components:
  schemas:
    CreateRequest:
      title: Success-200-Request
      description: This is schema of the process create request
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/CreateRequestBody"
      example:
        request:
          process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5ee4
          program_id: d3183400-f729-11ea-a660-c91ae7e44037
          collection_id: do_113108485878816768110286
          org_id: 01307938306521497658
          type: bulk_approval
          status: processing
          overall_stats:
            approve_success: 0
            approve_failed: 0
            approve_pending: 7
            total: 7
          createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
          createdon: 2020-12-04T11:37:03.13Z
    CreateRequestBody:
      title: Create Request Body
      required:
        - process_id
        - program_id
        - collection_id
        - org_id
        - type
        - status
        - overall_stats
        - createdby
        - createdon
      type: object
      properties:
        process_id:
          type: string
          description: This represents the unique process id
        program_id:
          type: string
          description: This represents the unique program id
        collection_id:
          type: string
          description: This represents the unique collection id
        org_id:
          type: string
          description: this represents the unique id of the organization
        type:
          type: string
          description: This represents the Bulk approval type
        status:
          type: string
          description: This represents the status of the process
        overall_stats:
          $ref: "#/components/schemas/OverallStats"
        createdby:
          type: string
          description: This represents the unique id of the user
        createdon:
          type: string
          description: This represents the date on which the process is created
      example:
        process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5ee4
        program_id: d3183400-f729-11ea-a660-c91ae7e44037
        collection_id: do_113108485878816768110286
        org_id: 01307938306521497658
        type: bulk_approval
        status: processing
        overall_stats:
          approve_success: 0
          approve_failed: 0
          approve_pending: 7
          total: 7
        createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
        createdon: 2020-12-04T11:37:03.13Z
    OverallStats:
      title: OverallStats
      required:
        - approve_success
        - approve_failed
        - approve_pending
        - total
      type: object
      properties:
        approve_success:
          type: integer
          format: int32
        approve_failed:
          type: integer
          format: int32
        approve_pending:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
      example:
        approve_success: 0
        approve_failed: 0
        approve_pending: 7
        total: 7
    Create-bulk-Job-Success-200:
      title: Create-bulk-Job Success-200
      description: Represents the Create-bulk-Job Success-200
      required:
        - id
        - ver
        - ts
        - params
        - responseCode
        - result
      type: object
      properties:
        id:
          description: Represents the api id
          type: string
        ver:
          description: Represents the api version
          type: string
        ts:
          description: Represents the EPOCH epoch time in milliseconds
          type: integer
          format: int64
        params:
          $ref: "#/components/schemas/Params"
        responseCode:
          type: string
        result:
          $ref: "#/components/schemas/createProcessResponse"
      example:
        id: api.process.create
        ver: 1.0
        ts: 2021-01-06T11:30:50.3Z
        params:
          resmsgid: a0d6d7c0-5012-11eb-a115-db22788c28aa
          msgid: a0709be0-5012-11eb-a115-db22788c28aa
          status: successful
          err:
          errmsg:
        responseCode: OK
        result:
          id: 391
          process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5664
          program_id: d3183400-f729-11ea-a660-c91ae7e44037
          collection_id: do_113108485878816768110286
          org_id: 01307938306521497658
          type: bulk_approval
          status: processing
          overall_stats:
            total: 7
            approve_failed: 0
            approve_pending: 7
            approve_success: 0
          createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
          createdon: 2020-12-04T11:37:03.13Z
          data:
          err_message:
          updatedby:
          updatedon: 2021-01-06T11:30:50.261Z
          completedon:
          expiration:
    Params:
      title: Params
      required:
        - resmsgid
        - msgid
        - status
        - err
        - errmsg
      type: object
      properties:
        resmsgid:
          description: Represents the message id of the response
          type: string
        status:
          description: Represents the status of the request
          type: string
          enum:
            - success
            - failed
        err:
          description: Represents the error
          type: string
          nullable: true
        errmsg:
          description: Represents the error message
          type: string
          nullable: true
      example:
        resmsgid: a0d6d7c0-5012-11eb-a115-db22788c28aa
        msgid: a0709be0-5012-11eb-a115-db22788c28aa
        status: successful
        err:
        errmsg:
    createProcessResponse:
      title: createProcessResponse
      description: This represents the create process response
      required:
        - id
        - process_id
        - program_id
        - collection_id
        - org_id
        - type
        - status
        - overall_stats
        - createdby
        - createdon
        - data
        - err_message
        - updatedby
        - updatedon
        - completedon
        - expiration
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: this represents the unique id of the result
        process_id:
          type: string
          description: this represents the unique id of the process
        program_id:
          type: string
          description: this represents the unique id of the program
        collection_id:
          type: string
          description: this represents the unique id of the collection
        org_id:
          type: string
          description: this represents the unique id of the organization
        type:
          type: string
          description: this represents the type of the bulk approve
        status:
          type: string
          description: this represents the status of process
        overall_stats:
          $ref: "#/components/schemas/OverallStats"
        createdby:
          type: string
          description: this represents the unique id of the user/creater
        createdon:
          type: string
          description: this represents the date on which it is created
        data:
          type: string
          nullable: true
        err_message:
          type: string
          nullable: true
          description: this represents the any err message
        updatedby:
          type: string
          nullable: true
          description: this represents the unique id of the user who updated
        updatedon:
          type: string
          description: this represents the date on which it is updated
        completedon:
          type: string
          nullable: true
          description: this represents the completion on
        expiration:
          type: string
          nullable: true
          description: this represents the expiration
      example:
        id: 391
        process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5664
        program_id: d3183400-f729-11ea-a660-c91ae7e44037
        collection_id: do_113108485878816768110286
        org_id: 01307938306521497658
        type: bulk_approval
        status: processing
        overall_stats:
          total: 7
          approve_failed: 0
          approve_pending: 7
          approve_success: 0
        createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
        createdon: 2020-12-04T11:37:03.13Z
        data:
        err_message:
        updatedby:
        updatedon: 2021-01-06T11:30:50.261Z
        completedon:
        expiration:
    CreateRequestBody-Error-500-Request:
      title: CreateRequestBody-Error-500-Request
      description: Create request body error 500 request
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/CreateRequestBody"
      example:
        request:
          process_id: 16264756-c71c-4061-a99c-bfab0556d047
          program_id: 47fa5b80-fca3-11ea-bd95-45e87e333d53
          collection_id: do_113113416823963648111044
          org_id: 01307938306521497658
          type: bulk_approval
          status: processing
          overall_stats:
            approve_success: 0
            approve_failed: 0
            approve_pending: 4
            total: 4
          createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
          createdon: 2020-12-04T10:30:35.357Z
    CreateRequestBody-Error-400-Request:
      title: CreateRequestBody Error-400-Request
      description: Represents create process request body for error 400 request
      required:
        - requests
      type: object
      properties:
        requests:
          $ref: "#/components/schemas/Requests"
      example:
        requests:
          process_id: 16264756-c71c-4061-a99c-bfab0556d047
          program_id: 47fa5b80-fca3-11ea-bd95-45e87e333d53
          collection_id: do_113113416823963648111044
          org_id: 01307938306521497658
          type: bulk_approval
          status: processing
          overall_stats:
            approve_success: 0
            approve_failed: 0
            approve_pending: 4
            total: 4
          createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
          createdon: 2020-12-04T10:30:35.357Z
    Requests:
      title: Requests
      required:
        - process_id
        - program_id
        - collection_id
        - org_id
        - type
        - status
        - overall_stats
        - createdby
        - createdon
      type: object
      properties:
        process_id:
          type: string
          description: This represents the unique process id
        program_id:
          type: string
          description: This represents the unique program id
        collection_id:
          type: string
          description: This represents the unique collection id
        org_id:
          type: string
          description: This represents the unique id of the organization
        type:
          type: string
          description: This represents the bulk_approval type of the process
        status:
          type: string
          description: This represents the status of the  process
        overall_stats:
          $ref: "#/components/schemas/OverallStats"
        createdby:
          type: string
          description: This represents the unique id of the user who created
        createdon:
          type: string
          description: This represents the date on which the particular process is created
      example:
        process_id: 16264756-c71c-4061-a99c-bfab0556d047
        program_id: 47fa5b80-fca3-11ea-bd95-45e87e333d53
        collection_id: do_113113416823963648111044
        org_id: 01307938306521497658
        type: bulk_approval
        status: processing
        overall_stats:
          approve_success: 0
          approve_failed: 0
          approve_pending: 4
          total: 4
        createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
        createdon: 2020-12-04T10:30:35.357Z
    updateRequest:
      title: update Request
      description: Represents update Request for the process
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/updateRequestBody"
      example:
        request:
          process_id: 16264756-c71c-4061-a99c-bfab0556d047
          status: processing
          overall_stats:
            approve_success: 44
            approve_failed: 0
            approve_pending: -40
            total: 4
          updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
    updateRequestBody:
      title: update Request Body
      description: update Request body
      required:
        - process_id
        - status
        - overall_stats
        - updatedby
      type: object
      properties:
        process_id:
          type: string
          description: This represents the unique id of the process
        status:
          type: string
          description: This represents the status of the process
        overall_stats:
          $ref: "#/components/schemas/OverallStats"
        updatedby:
          type: string
      example:
        process_id: 16264756-c71c-4061-a99c-bfab0556d047
        status: processing
        overall_stats:
          approve_success: 44
          approve_failed: 0
          approve_pending: -40
          total: 4
        updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
    Process-update-success-200-Response:
      title: Process-update-success-200-Response
      description: This represents the Process-update-success-200-Response
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/Process-update-response"
      example:
        request:
          process_id: 16264756-c71c-4061-a99c-bfab0556d047
          status: processing
          overall_stats:
            approve_success: 44
            approve_failed: 0
            approve_pending: -40
            total: 4
          updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
    Process-update-response:
      title: Process-update-response
      description: Represents the process update response
      required:
        - process_id
        - status
        - overall_stats
        - updatedby
      type: object
      properties:
        process_id:
          type: string
          description: Represents the unique process id
        status:
          type: string
          description: Represents the status of the process
        overall_stats:
          $ref: "#/components/schemas/OverallStats"
        updatedby:
          type: string
      example:
        process_id: 16264756-c71c-4061-a99c-bfab0556d047
        status: processing
        overall_stats:
          approve_success: 44
          approve_failed: 0
          approve_pending: -40
          total: 4
        updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
    Process-update-success-200:
      title: Process-update-success-200
      required:
        - id
        - ver
        - ts
        - params
        - responseCode
        - result
      type: object
      properties:
        id:
          type: string
          description: Represents the ID of the request which was made
        ver:
          type: string
          description: Represents the version of the API which was used
        ts:
          type: string
          description: API execution timespan
        params:
          $ref: "#/components/schemas/Params"
        responseCode:
          type: string
        result:
          $ref: "#/components/schemas/Process-update-response-result"
      example:
        id: api.process.update
        ver: 1.0
        ts: 2021-01-06T12:26:27.188Z
        params:
          resmsgid: 65c78b40-501a-11eb-a115-db22788c28aa
          msgid: 6562fd10-501a-11eb-a115-db22788c28aa
          status: successful
          err:
          errmsg:
        responseCode: OK
        result:
          process_id: 16264756-c71c-4061-a99c-bfab0556d047
    Process-update-response-result:
      title: Process-update-response-result
      description: This represents the Process update response
      required:
        - process_id
      type: object
      properties:
        process_id:
          type: string
          description: this represents the unique process id
      example:
        process_id: 16264756-c71c-4061-a99c-bfab0556d047
    Update-Error-404-Request:
      title: Update-Error-404-Request
      description: update Request for 400 error
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/updateRequestBody"
      example:
        request:
          process_id: 16264756-c71c-4061-a99c-bfab0556d47
          status: processing
          overall_stats:
            approve_success: 44
            approve_failed: 0
            approve_pending: -40
            total: 4
          updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
    Update-Error-400-Request:
      title: Update Error-400-Request
      description: Represents update Request for 400 error
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/updateRequest-400"
      example:
        request:
          process: 16264756-c71c-4061-a99c-bfab0556d47
          status: processing
          overall_stats:
            approve_success: 44
            approve_failed: 0
            approve_pending: -40
            total: 4
          updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
    updateRequest-400:
      title: update Request for 400 error
      description: Represents update Request for 400 error
      required:
        - process
        - status
        - overall_stats
        - updatedby
      type: object
      properties:
        process:
          type: string
          description: This represents the unique process id
        status:
          type: string
          description: This represents the status of the process
        overall_stats:
          $ref: "#/components/schemas/OverallStats"
        updatedby:
          type: string
          description: This represents the unique id of the user who updated
      example:
        process: 16264756-c71c-4061-a99c-bfab0556d47
        status: processing
        overall_stats:
          approve_success: 44
          approve_failed: 0
          approve_pending: -40
          total: 4
        updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
    SearchRequest:
      title: Search Request
      description: This represents the description of the Search Request
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/SearchRequestBody"
      example:
        request:
          filters:
            program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
            collection_id: do_113112787166773248110944
    SearchRequestBody:
      title: Search Request Body
      required:
        - filters
      type: object
      description: This represents information of  the filter required
      properties:
        filters:
          $ref: "#/components/schemas/Filters"
      example:
        filters:
          program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
          collection_id: do_113112787166773248110944
    Process-Read-Success-200:
      title: Read-Process-Success-200
      required:
        - id
        - ver
        - ts
        - params
        - responseCode
        - result
      type: object
      properties:
        id:
          type: string
          description: Represents the ID of the request which was made
        ver:
          type: string
          description: Represents the version of the API which was used
        ts:
          type: string
          description: API execution timespan
        params:
          $ref: "#/components/schemas/Params"
        responseCode:
          type: string
        result:
          $ref: "#/components/schemas/createProcessResponse"
      example:
        id: api.process.read
        ver: 1.0
        ts: 2021-01-06T13:06:53.323Z
        params:
          resmsgid: 0bde5db0-5020-11eb-a115-db22788c28aa
          msgid: 0b4503e0-5020-11eb-a115-db22788c28aa
          status: successful
          err:
          errmsg:
        responseCode: OK
        result:
          id: 300
          process_id: 98c5d59a-5e8d-41ec-99d4-9cad8fef5ee2
          program_id: d3183400-f729-11ea-a660-c91ae7e44037
          collection_id: do_113108485878816768110286
          org_id: 01307938306521497658
          status: processing
          type: bulk_approval
          overall_stats:
            total: 7
            approve_failed: 0
            approve_pending: -37
            approve_success: 44
          data:
          err_message:
          createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
          updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
          createdon: 2020-12-04T11:37:03.13Z
          updatedon: 2020-12-04T11:39:25.265Z
          completedon:
          expiration:
    Filters:
      title: Filters
      description: This represents the description of the filter required
      required:
        - program_id
        - collection_id
      type: object
      properties:
        program_id:
          type: string
          description: This represents the unique id of the program
        collection_id:
          type: string
          description: This represents the unique id of the collection
      example:
        program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
        collection_id: do_113112787166773248110944
    Process-Search-Success-200:
      title: Process-Search-Success-200
      required:
        - id
        - ver
        - ts
        - params
        - responseCode
        - result
      type: object
      properties:
        id:
          description: Represents the api id
          type: string
        ver:
          description: Represents the api version
          type: string
        ts:
          description: Represents the EPOCH epoch time in milliseconds
          type: integer
          format: int64
        params:
          $ref: "#/components/schemas/Params"
        responseCode:
          type: string
        result:
          $ref: "#/components/schemas/Process-Search-Response"
      example:
        id: api.process.search
        ver: 1.0
        ts: 2021-01-06T13:07:45.175Z
        params:
          resmsgid: 2ac65a70-5020-11eb-a115-db22788c28aa
          msgid: 2a5c7510-5020-11eb-a115-db22788c28aa
          status: successful
          err:
          errmsg:
        responseCode: OK
        result:
          count: 1
          process:
            - id: 299
              process_id: 3bd5eb6a-6de0-4a64-9051-0882bfd76480
              program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
              collection_id: do_113112787166773248110944
              org_id: 01307938306521497658
              status: processing
              type: bulk_approval
              overall_stats:
                total: 2
                approve_failed: 0
                approve_pending: -42
                approve_success: 44
              data:
              err_message:
              createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
              updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
              createdon: 2020-12-04T10:59:04.797Z
              updatedon: 2020-12-04T11:35:21.942Z
              completedon:
              expiration:
    Process-Search-Response:
      title: Process-Search-Response
      description: this represents the Process-Search-Response
      required:
        - count
        - process
      type: object
      properties:
        count:
          type: integer
          format: int32
          description: This represents the counts of the process
        process:
          type: array
          items:
            $ref: "#/components/schemas/createProcessResponse"
          description: "This represents the array of all process"
      example:
        count: 1
        process:
          - id: 299
            process_id: 3bd5eb6a-6de0-4a64-9051-0882bfd76480
            program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
            collection_id: do_113112787166773248110944
            org_id: 01307938306521497658
            status: processing
            type: bulk_approval
            overall_stats:
              total: 2
              approve_failed: 0
              approve_pending: -42
              approve_success: 44
            data:
            err_message:
            createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
            updatedby: bf020396-0d7b-436f-ae9f-869c6780fc45
            createdon: 2020-12-04T10:59:04.797Z
            updatedon: 2020-12-04T11:35:21.942Z
            completedon:
            expiration:
    Search-Error-400-Request:
      title: Search Error-400-Request
      description: Search Error-400-Request
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/SearchRequest400"
      example:
        request:
          filter:
            program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
            collection_id: do_113112787166773248110944
    SearchRequest400:
      title: Search Request for error 400
      description: Represents Search Request for error 400
      required:
        - filter
      type: object
      properties:
        filter:
          $ref: "#/components/schemas/Filter"
      example:
        filter:
          program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
          collection_id: do_113112787166773248110944
    Filter:
      title: Filter
      description: this represents information of required filters in body
      required:
        - program_id
        - collection_id
      type: object
      properties:
        program_id:
          type: string
          description: this represents program unique id
        collection_id:
          type: string
          description: this represents collection unique id
      example:
        program_id: 4d1bece0-fbf0-11ea-8789-cf2d70041403
        collection_id: do_113112787166773248110944
    Search-Error-500-Request1:
      title: Search Error-500-Request
      required:
        - request
      type: object
      description: Has the information about filters required
      properties:
        request:
          $ref: "#/components/schemas/SearchRequestError500"
      example:
        request:
          filters:
            program_id: 4d1bece0-fbf0-11ea-8789-cf2d7004603
            collection: do_11311278166773248110944
    SearchRequestError500:
      title: Search Request Error 500
      description: represents details of the search request error
      required:
        - filters
      type: object
      properties:
        filters:
          $ref: "#/components/schemas/Filters1"
      example:
        filters:
          program_id: 4d1bece0-fbf0-11ea-8789-cf2d7004603
          collection: do_11311278166773248110944
    Filters1:
      title: Filters1
      description: Has the information about filters required
      required:
        - program_id
        - collection
      type: object
      properties:
        program_id:
          type: string
          description: this represents the unique id of the program
        collection:
          type: string
          description: this represents type of the collection
      example:
        program_id: 4d1bece0-fbf0-11ea-8789-cf2d7004603
        collection: do_11311278166773248110944
tags:
  - name: Success
  - name: Error
