<div id="">
    {% if site.showSearch == true %} {% include search.html %} {% endif %}
    <div class="sidebar-wrapper contributions">
        <div class="">
            <a href="/latest/architecture/">
                <h4 class="sidebar-group-title">Architecture</h4>
            </a>
            <a href="/latest/features-documentation/">
                <h4 class="sidebar-group-title">Product Features</h4>
            </a>
            <a href="/latest/usertaskflow/">
				<h4 class="sidebar-group-title">User Task Flows</h4>
			</a>
            <a href="/latest/developer-docs/">
                <h4 class="sidebar-group-title">Developer Documentation</h4>
            </a>
       
            <a href="/latest/apis/">
				<h4 class="sidebar-group-title">API Reference Documentation</h4>
			</a>
            <a href="/contributions/">
                <h4 class="sidebar-group-title">Contribute to Sunbird</h4>
            </a>
            <ul class="sidebar-group contributions">
                <li>
                    <a href="/contributions/filing_a_bug/">Guidelines for Filing a Bug</a>
                </li>
                <li>
                    <a href="/contributions/contribution_guidelines/">Contributing to Sunbird Documentation</a>
                </li>
            </ul>
             <a href="/latest/release_notes/">
                <h4 class="sidebar-group-title">Release Notes</h4>
            </a> 
			<a href="/latest/faqs/">
                <h4 class="sidebar-group-title">Frequently asked questions</h4>
            </a>
            <a href="glossary/">
                <h4 class="sidebar-group-title">Glossary</h4>
            </a>
        </div>
    </div>
</div>
<script>
    $("a[href$='{{page.url | remove_first: "/" }}']").addClass("sidebar-link-selected");
</script>
