{% assign directory = page.path | split: '/' %}

<div id="" class="sidebar-cover">
	
	{% if site.showSearch == true %} {% include search.html %} {% endif %}
	<div id="widgetVersionSwitcher"></div>
	
	<div class="sidebar-wrapper {{directory[0] | slugify}}"> 
		{% for version in site.data.sidebar %}
			{% for menu in version.sidebar %}
				{% assign finalurl = menu.url %}
				{% assign sections = finalurl | split: '/' %}
				<div class="{% if (sections[0] == directory[0] ) %}active{% endif %}">
					<a href="{{finalurl}}" {% if menu.target %}target="_{{menu.target}}"{% endif %}>
						<h4 class="sidebar-group-title">{{menu.title}}</h4>
					</a>
					{% if menu.subfolderitems[0] %}
					<ul class="sidebar-group">
					{% for submenu in menu.subfolderitems %}
						<li>
							{% if submenu.subfolderitems[0] %}
								<div class="">
									{% assign submenufinalurl = submenu.url %}
									<a 
										href="{{submenufinalurl}}" 
										{% if submenu.target %}target="_{{submenu.target}}"{% endif %} 
										class="{% if submenufinalurl == page.url %}sidebar-link-selected{% endif %}" 
										> 
										{{submenu.page}}
									</a>
									<ul class="sidebar-group">
										{% for subsubmenu in submenu.subfolderitems %}
										<li>
											{% assign subsubmenufinalurl = subsubmenu.url %}
											<a  
												href="{{subsubmenufinalurl}}" 
												{% if subsubmenu.target %}target="_{{subsubmenu.target}}"{% endif %}
												class="{% if subsubmenufinalurl == page.url %}sidebar-link-selected{% endif %}" 
												>
												{{subsubmenu.page}}
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							{% else %}
								{% assign submenufinalurl = submenu.url %}
								<a 
									href="{{submenufinalurl}}" 
									{% if submenu.target %}target="_{{submenu.target}}"{% endif %}
									class="{% if submenufinalurl== page.url %}sidebar-link-selected{% endif %}" 
									>
									{{submenu.page}}
								</a>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
					{% endif %}
				</div>
			{% endfor %}	
		{% endfor %}
	</div>
</div>

<script>
	$("a[href$='{{page.url | remove_first: "/"  }}']").addClass("sidebar-link-selected");
</script>
