openapi: 3.0.0
info:
  title: Program Api's
  termsOfService: 'https://github.com/project-sunbird/sunbird-commons/blob/master/LICENSE'
  description: Add some valid description here.

  contact: 
   email: info@sunbird.org
  version: '1.0'
servers:
- url: https://dock.sunbirded.org/content/program/v1/process
  variables: {}
externalDocs:
 description: "Testcases"
 url: "https://www.getpostman.com/collections/1402163310181f7057e5"
paths:
  /v1/list/download:
    post:
      tags:
      - Success
      summary: List Download 200 Success
      description: list/download
      operationId: ListDownload200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDownload200SuccessRequest'
            example:
              request:
                filters:
                  program_id:
                  - afdfa9a0-1dbc-11eb-81b1-659ec274e395
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: List Download 404 Not Found
      operationId: ListDownload404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDownload404NotFoundRequest'
            example:
              request:
                filters:
                  program_id:
                  - afdfa9a0-1dbc-11eb-81b1-659ec274e395
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - Failures
      summary: List Download 204 No Content
      operationId: ListDownload204NoContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/configuration/search:
    post:
      tags:
      - Success
      summary: Configuration  Search 200 Success
      description: Configuration/search
      operationId: ConfigurationSearch200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationSearch200SuccessRequest'
            example:
              request:
                key: overrideMetaData
                status: active
        required: true
      responses:
        200:
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Wed, 02 Dec 2020 11:03:07 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 927
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            X-DNS-Prefetch-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: off
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: SAMEORIGIN
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15552000; includeSubDomains
            X-Download-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: noopen
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            x-ratelimit-limit-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 30000
            x-ratelimit-remaining-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 29997
            x-powered-by:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Express
            access-control-allow-origin:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '*'
            access-control-allow-methods:
              content:
                text/plain:
                  schema:
                    type: string
                  example: GET,PUT,POST,PATCH,DELETE,OPTIONS
            access-control-allow-headers:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Content-Type, Authorization,cid, user-id, x-auth, Cache-Control, X-Requested-With, datatype, *
            etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: W/"39f-/OXYNw5sfRTg1KixRs/EZa69YRQ"
            x-kong-upstream-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 692
            x-kong-proxy-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 0
            via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: kong/0.9.9
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ConfigurationSearch400BadRequest'
              example:
                id: api.configuration.search
                ver: 1.0
                ts: 2020-12-02T11:03:07.275Z
                params:
                  resmsgid: f5241db0-348d-11eb-9c32-15914148e3ce
                  msgid: f80986af-e190-f6a4-04c4-c1b984e056e4
                  status: successful
                  err: 
                  errmsg: 
                responseCode: OK
                result:
                  configuration:
                    id: 9
                    key: overrideMetaData
                    value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
                    status: active
                    createdby: 
                    updatedby: 
                    createdon: 2020-09-03T11:24:42.13Z
                    updatedon: 2020-09-03T11:24:42.13Z
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400badRequestwithoutchannel'
              example:
                id: api.error
                ver: 1.0
                ts: 2020-12-03 07:50:55:637+0000
                params:
                  resmsgid: 46298c50-353c-11eb-ada5-dde7a2458a3f
                  msgid: 
                  status: failed
                  err: INVALID_TOKEN
                  errmsg: INVALID_TOKEN
                responseCode: UNAUTHORIZED_ACCESS
                result: {}
        404:
          description: Not Found
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/nomination/update:
    post:
      tags:
      - Success
      summary: Nomination Update 200 Success
      description: nomination/update
      operationId: NominationUpdate200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationUpdate200SuccessRequest'
            example:
              request:
                program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
                status: Initiated
                content_types:
                - Teacher Resource
                user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
        required: true
      responses:
        200:
          description: ''
          headers: {}
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationUpdate400BadRequest'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400badRequestwithoutchannel'
              example:
                id: api.error
                ver: 1.0
                ts: 2020-12-03 07:55:28:459+0000
                params:
                  resmsgid: e8c6e1b0-353c-11eb-ada5-dde7a2458a3f
                  msgid: 
                  status: failed
                  err: INVALID_TOKEN
                  errmsg: INVALID_TOKEN
                responseCode: UNAUTHORIZED_ACCESS
                result: {}
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404NotFound'
              example:
                request_path: /program/nomination/update
                message: API not found with these values
                request_host:
                - kong
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/nomination/list/download:
    post:
      tags:
      - Success
      summary: Nomination List Download 200 Success
      description: nomination/list/download
      operationId: NominationListDownload200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationListDownload200SuccessRequest'
            example:
              request:
                filters:
                  program_name: allTypeContent
                  program_id: d16524d0-348a-11eb-9c32-15914148e3ce
                  status:
                  - Pending
                  - Approved
                  - Rejected
        required: true
      responses:
        200:
          description: ''
          headers: {}
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400badRequestwithoutchannel'
              example:
                id: api.list.download
                ver: 1.0
                ts: 2020-12-02T18:12:26.673Z
                params:
                  resmsgid: eef05210-34c9-11eb-9c32-15914148e3ce
                  msgid: 
                  status: failed
                  err: ERR_DOWNLOADING_NOMINATION_DATA
                  errmsg: Required fields like program_id, program_name, status while getting nomination data are missing
                responseCode: CLIENT_ERROR
                result: {}
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404NotFound'
              example:
                request_path: /program/nomination/list/download
                message: API not found with these values
                request_host:
                - kong
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Nomination List Download 404 Not Found
      operationId: NominationListDownload404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationListDownload404NotFoundRequest'
            example:
              request:
                filters:
                  program_name: allTypeContent
                  program_id: d16524d0-348a-11eb-9c32-15914148e3ce
                  status:
                  - Pending
                  - Approved
                  - Rejected
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/nomination/list:
    post:
      tags:
      - Success
      summary: Nomination List 200 Success
      description: nomination/list
      operationId: NominationList200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationList200SuccessRequest'
            example:
              request:
                filters: {}
        required: true
      responses:
        200:
          description: ''
          headers: {}
        400:
          description: Bad Request
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400badRequestwithoutchannel'
              example:
                id: api.error
                ver: 1.0
                ts: 2020-12-03 07:52:57:567+0000
                params:
                  resmsgid: 8ed696f0-353c-11eb-ada5-dde7a2458a3f
                  msgid: 
                  status: failed
                  err: INVALID_TOKEN
                  errmsg: INVALID_TOKEN
                responseCode: UNAUTHORIZED_ACCESS
                result: {}
        500:
          description: Internal Server Error
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Nomination List 404 Not Found
      operationId: NominationList404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationList404NotFoundRequest'
            example:
              request:
                filters: {}
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/preference/create:
    post:
      tags:
      - Success
      summary: Preference-create 200 Success
      description: preference/create
      operationId: Preference-create200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preference-create200SuccessRequest'
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                preference:
                  medium:
                  - English
                  subject:
                  - ''
                  gradeLevel:
                  - Class 7
                type: sourcing
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Preference-create 404 Not Found
      operationId: Preference-create404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preference-create404NotFoundRequest'
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                preference:
                  medium:
                  - ''
                  subject:
                  - ''
                  gradeLevel:
                  - ' '
                type: sourcing
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/preference/read:
    post:
      tags:
      - Success
      summary: Preference-read 200 Success
      description: preference/read
      operationId: Preference-read200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preference-read200SuccessRequest'
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: ef3ecc80-3553-11eb-84ed-692ec8c8dbe9
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - Failures
      summary: Preference-read 404 Not Found
      operationId: Preference-read404NotFound
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/preference/update:
    post:
      tags:
      - Success
      summary: Preference-update 200 Success
      description: preference/update
      operationId: Preference-update200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preference-update200SuccessRequest'
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                preference:
                  medium:
                  - English
                  subject:
                  - ''
                  gradeLevel:
                  - ''
                type: sourcing
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - Failures
      summary: Preference-update 204 Not Content
      operationId: Preference-update204NotContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Preference-update 404 Not Found
      operationId: Preference-update404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preference-update404NotFoundRequest'
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                preference:
                  medium:
                  - English
                  subject:
                  - ''
                  gradeLevel:
                  - ''
                type: sourcing
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/update:
    post:
      tags:
      - Success
      summary: Program Update 200 Success
      description: program/update
      operationId: ProgramUpdate200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramUpdate200SuccessRequest'
        required: true
      responses:
        200:
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Thu, 03 Dec 2020 08:38:21 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 297
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            X-DNS-Prefetch-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: off
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: SAMEORIGIN
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15552000; includeSubDomains
            X-Download-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: noopen
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            x-ratelimit-limit-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 30000
            x-ratelimit-remaining-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 29985
            x-powered-by:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Express
            access-control-allow-origin:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '*'
            access-control-allow-methods:
              content:
                text/plain:
                  schema:
                    type: string
                  example: GET,PUT,POST,PATCH,DELETE,OPTIONS
            access-control-allow-headers:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Content-Type, Authorization,cid, user-id, x-auth, Cache-Control, X-Requested-With, datatype, *
            etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: W/"129-LbaZmw0G9CHcmkEYEex9cwMe89k"
            x-kong-upstream-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 24
            x-kong-proxy-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 0
            via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: kong/0.9.9
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/200Successfull'
              example:
                id: api.program.update
                ts: 2020-12-03T08:38:21.34Z
                params:
                  resmsgid: e6555dc1-3542-11eb-84ed-692ec8c8dbe9
                  msgid: e6555dc0-3542-11eb-84ed-692ec8c8dbe9
                  status: successful
                  err: 
                  errmsg: 
                responseCode: OK
                result:
                  program_id: a043dc40-3497-11eb-9c32-15914148e3ce
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400badRequestwithoutchannel'
              example:
                id: api.v1.update
                ver: 1.0
                ts: 2020-12-03T08:53:26.127Z
                params:
                  resmsgid: 01a0e7f0-3545-11eb-84ed-692ec8c8dbe9
                  msgid: 
                  status: failed
                  err: ERR_UPDATE_PROGRAM_DATA
                  errmsg: Required fields while updating program data are missing
                responseCode: CLIENT_ERROR
                result: {}
        404:
          description: Not Found
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Program Update 404 Not Found
      operationId: ProgramUpdate404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramUpdate404NotFoundRequest'
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - Failures
      summary: Program Update 204 No Content
      operationId: ProgramUpdate204NoContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/create:
    post:
      tags:
      - Success
      summary: Create Program 200 Success
      description: program/create
      operationId: CreateProgram200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProgram200SuccessRequest'
        required: true
      responses:
        200:
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Thu, 03 Dec 2020 08:25:51 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 297
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            X-DNS-Prefetch-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: off
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: SAMEORIGIN
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15552000; includeSubDomains
            X-Download-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: noopen
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            x-ratelimit-limit-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 30000
            x-ratelimit-remaining-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 29994
            x-powered-by:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Express
            access-control-allow-origin:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '*'
            access-control-allow-methods:
              content:
                text/plain:
                  schema:
                    type: string
                  example: GET,PUT,POST,PATCH,DELETE,OPTIONS
            access-control-allow-headers:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Content-Type, Authorization,cid, user-id, x-auth, Cache-Control, X-Requested-With, datatype, *
            etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: W/"129-RZSEi/EHu9+si/Iw6crOyuDuj14"
            x-kong-upstream-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 798
            x-kong-proxy-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 0
            via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: kong/0.9.9
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/200success'
              example:
                id: api.program.create
                ts: 2020-12-03T08:25:51.2Z
                params:
                  resmsgid: 27371601-3541-11eb-a10c-1da50649277e
                  msgid: 27371600-3541-11eb-a10c-1da50649277e
                  status: successful
                  err: 
                  errmsg: 
                responseCode: OK
                result:
                  program_id: 26be3c80-3541-11eb-a10c-1da50649277e
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationUpdate400BadRequest'
        404:
          description: Not Found
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Create Program 404 Not Found
      operationId: CreateProgram404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProgram404NotFoundRequest'
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - Failures
      summary: Create Program 204 No Content
      operationId: CreateProgram204NoContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/publish:
    post:
      tags:
      - Success
      summary: Program-Publish 200 Success
      description: program/publish
      operationId: Program-Publish200Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Program-Publish200SuccessRequest'
            example:
              request:
                program_id: a043dc40-3497-11eb-9c32-15914148e3ce
                channel: sunbird
        required: true
      responses:
        200:
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Thu, 03 Dec 2020 08:14:32 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 795
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            X-DNS-Prefetch-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: off
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: SAMEORIGIN
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15552000; includeSubDomains
            X-Download-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: noopen
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            x-ratelimit-limit-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 30000
            x-ratelimit-remaining-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 29992
            x-powered-by:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Express
            access-control-allow-origin:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '*'
            access-control-allow-methods:
              content:
                text/plain:
                  schema:
                    type: string
                  example: GET,PUT,POST,PATCH,DELETE,OPTIONS
            access-control-allow-headers:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Content-Type, Authorization,cid, user-id, x-auth, Cache-Control, X-Requested-With, datatype, *
            etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: W/"31b-dbHFdBs3i3P687NS5Wmnpmlhdd8"
            x-kong-upstream-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 649
            x-kong-proxy-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 0
            via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: kong/0.9.9
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/200SuccessProgramPublish'
              example:
                id: api.program.publish
                ts: 2020-12-03T08:14:32.077Z
                params:
                  resmsgid: 926d23d1-353f-11eb-86c8-875983bcd642
                  msgid: 926d23d0-353f-11eb-86c8-875983bcd642
                  status: successful
                  err: 
                  errmsg: 
                responseCode: OK
                result:
                  program_id: a043dc40-3497-11eb-9c32-15914148e3ce
                  afterPublishResponse:
                    nomination:
                      error: 
                      result:
                        program_id: a043dc40-3497-11eb-9c32-15914148e3ce
                        user_id: 48dc0e70-2775-474b-9b78-def27d047836
                        organisation_id: e0ab89f4-0fcb-47ea-9b70-3ed0f12b1b7a
                        status: Approved
                        content_types:
                        - Course Assessment
                        - eTextbook
                        - Explanation Content
                        - Learning Resource
                        - Practice Question Set
                        - Teacher Resource
                        collection_ids:
                        - do_1131644069627576321824
                        - do_1131644069627740161825
                        - do_1131644069627330561823
                    userMapping: {}
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400badRequestwithoutchannel'
              example:
                id: api.v1.publish
                ver: 1.0
                ts: 2020-12-02T18:28:15.284Z
                params:
                  resmsgid: 245adf40-34cc-11eb-9c32-15914148e3ce
                  msgid: 
                  status: failed
                  err: ERR_PUBLISH_PROGRAM_DATA
                  errmsg: Required fields while publishing program data are missing
                responseCode: CLIENT_ERROR
                result: {}
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404NotFound'
              example:
                request_path: /v1/publish
                message: API not found with these values
                request_host:
                - kong
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Program-Publish 404 Not Found
      operationId: Program-Publish404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Program-Publish404NotFoundRequest'
            example:
              request:
                program_id: a043dc40-3497-11eb-9c32-15914148e3ce
                channel: sunbird
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - Failures
      summary: Program-Publish 204 No Content
      operationId: Program-Publish204NoContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/feed/search:
    post:
      tags:
      - Success
      summary: Program-Feed-Search 200 success
      operationId: Program-Feed-Search200success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Program-Feed-Search200successRequest'
            example:
              request:
                nomination:
                  programId:
                  - a549ffa0-3553-11eb-84ed-692ec8c8dbe9
                  - ef3ecc80-3553-11eb-84ed-692ec8c8dbe9
                  status:
                  - Pending
                contribution:
                  programId:
                  - f2c1d380-389a-11eb-af92-c5fb4afce83e
                  - a043dc40-3497-11eb-9c32-15914148e3ce
                  - Live
                channel: 012983850117177344161
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - Failures
      summary: Program-Feed-Search-404
      operationId: Program-Feed-Search-404
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/read/c43f7790-0a2a-11eb-a2e9-4fe29a51bb70:
    get:
      tags:
      - Success
      summary: Read-Program-200-Success
      operationId: Read-Program-200-Success
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    post:
      tags:
      - Failures
      summary: Program-read-404
      operationId: Program-read-404
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /program/v1/report:
    post:
      tags:
      - Success
      summary: Report-success-200
      operationId: Report-success-200
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report-success-200-Request'
            example:
              request:
                filters:
                  program_id:
                  - 95d604b0-2af4-11eb-9bed-c53bebe417b7
                  openForContribution: true
                  report: textbookLevelReport
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /program/v1/tenant/list:
    post:
      tags:
      - Success
      summary: Tenant-success-200
      operationId: Tenant-success-200
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: '*/*'
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en-US;q=0.9,en;q=0.8
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant-success-200-Request'
            example:
              request:
                filters:
                  status: Live
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /program/v1/configuration/search:
    post:
      tags:
      - Failures
      summary: Configuration  Search 401 Unauthorized
      operationId: ConfigurationSearch401Unauthorized
      parameters:
      - name: Connection
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: keep-alive
      - name: Pragma
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: no-cache
      - name: Cache-Control
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: no-cache
      - name: X-App-Id
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: dev.dock.portal
      - name: ts
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: 2020-12-02T16:32:31+05:30
      - name: X-msgid
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: f80986af-e190-f6a4-04c4-c1b984e056e4
      - name: User-Agent
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: X-Source
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: web
      - name: X-Device-ID
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: 6a6ec694e694548fef971f85910385bd
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Sec-Fetch-Site
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: same-origin
      - name: Sec-Fetch-Mode
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: cors
      - name: Sec-Fetch-Dest
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: empty
      - name: Referer
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org/contribute
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      - name: Cookie
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: connect.sid=s%3ABJW2W7KN-MXRuOv1L6_tU6UDkPC-hfuF.8XWBywws%2Bj8qGuqBweKrNTv7ag6kvF46Xlz1MrQRxZ0
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationSearch401UnauthorizedRequest'
            example:
              request:
                key: overrideMetaData
                status: active
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://dock.sunbirded.org/content
        variables: {}
  /program/v1/nomination/update:
    put:
      tags:
      - Failures
      summary: Nomination Update 404 Not Found
      operationId: NominationUpdate404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationUpdate404NotFoundRequest'
            example:
              request:
                program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
                status: Initiated
                content_types:
                - Teacher Resource
                user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://dock.sunbirded.org/content
        variables: {}
  /v1/preference/create/:
    get:
      tags:
      - Failures
      summary: Preference-create 204 No Content
      operationId: Preference-create204NoContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /program/v1/preference/read:
    get:
      tags:
      - Failures
      summary: Preference-read 204 No Content
      operationId: Preference-read204NoContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://dock.sunbirded.org/content
        variables: {}
  /v1/unlist/publish:
    post:
      tags:
      - Failures
      summary: Unlist-Publish 400 Bad Request
      operationId: Unlist-Publish400BadRequest
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Unlist-Publish400BadRequestRequest'
            example:
              request:
                program_id: ''
                channel: sunbird
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    put:
      tags:
      - Failures
      summary: Unlist-Publish 404 Not Found
      operationId: Unlist-Publish404NotFound
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Unlist-Publish404NotFoundRequest'
            example:
              request:
                program_id: f2c1d380-389a-11eb-af92-c5fb4afce83e
                channel: sunbird
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /program/v1/unlist/publish:
    get:
      tags:
      - Failures
      summary: Unlist-Publish 204 No Content
      operationId: Unlist-Publish204NoContent
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://dock.sunbirded.org/content
        variables: {}
  /program/v1/read/c43f7790-0a2a-11eb-a2e9-4fe29a51bb70:
    get:
      tags:
      - Failures
      summary: Program-read-502 Bad Gateway
      operationId: Program-read-502BadGateway
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://dock.sunbirded.org/content
        variables: {}
  /program/v1/list:
    post:
      tags:
      - Success-Case
      summary: Program  List success-200
      operationId: ProgramListsuccess-200
      parameters:
      - name: Connection
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: keep-alive
      - name: X-msgid
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: e973c862-115d-51f1-5637-ca177b072a3f
      - name: User-Agent
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: X-Source
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: web
      - name: X-Device-ID
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: d94997d031c714aa590c8f2380850a69
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramListsuccess-200Request'
            example:
              request:
                filters:
                  enrolled_id:
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                  status:
                  - Live
                  - Unlisted
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
components:
  schemas:
    ListDownload200SuccessRequest:
      title: ListDownload200SuccessRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/Request'
      example:
        request:
          filters:
            program_id:
            - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    Request:
      title: Request
      required:
      - filters
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/Filters'
      example:
        filters:
          program_id:
          - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    Filters:
      title: Filters
      required:
      - program_id
      type: object
      properties:
        program_id:
          type: array
          items:
            type: string
          description: ''
      example:
        program_id:
        - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    ListDownload400BadRequestRequest:
      title: ListDownload400BadRequestRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ListRequest'
      example:
        request:
          filters: {}
    ListRequest:
      title: ListRequest
      required:
      - filters
      type: object
      properties:
        filters:
          type: object
      example:
        filters: {}
    ListDownload404NotFoundRequest:
      title: ListDownload404NotFoundRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/Request'
      example:
        request:
          filters:
            program_id:
            - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    ProgramListsuccess-200Request:
      title: ProgramListsuccess-200Request
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ProgramListRequest'
      example:
        request:
          filters:
            enrolled_id:
              user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
            status:
            - Live
            - Unlisted
    ProgramListRequest:
      title: ProgramListRequest
      required:
      - filters
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProgramListFilters'
      example:
        filters:
          enrolled_id:
            user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
          status:
          - Live
          - Unlisted
    ProgramListFilters:
      title: ProgramListFilters
      required:
      - enrolled_id
      - status
      type: object
      properties:
        enrolled_id:
          $ref: '#/components/schemas/EnrolledId'
        status:
          type: array
          items:
            type: string
          description: ''
      example:
        enrolled_id:
          user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
        status:
        - Live
        - Unlisted
    EnrolledId:
      title: EnrolledId
      required:
      - user_id
      type: object
      properties:
        user_id:
          type: string
      example:
        user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
    ProgramList400-errorRequest:
      title: ProgramList400-errorRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ProgramListErrorRequest'
      example:
        request:
          filter:
            status:
            - Live
            - Unlisted
            role:
            - REVIEWER
            user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
    ProgramListErrorRequest:
      title: ProgramListErrorRequest
      required:
      - filter
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/Filter'
      example:
        filter:
          status:
          - Live
          - Unlisted
          role:
          - REVIEWER
          user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
    Filter:
      title: Filter
      required:
      - status
      - role
      - user_id
      type: object
      properties:
        status:
          type: array
          items:
            type: string
          description: ''
        role:
          type: array
          items:
            type: string
          description: ''
        user_id:
          type: string
      example:
        status:
        - Live
        - Unlisted
        role:
        - REVIEWER
        user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
    ProgramList500-errorRequest:
      title: ProgramList500-errorRequest
      required:
      - requests
      type: object
      properties:
        requests:
          $ref: '#/components/schemas/Requests'
      example:
        requests:
          filters:
            status:
            - Live
            - Unlisted
            role:
            - REVIEWER
            user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
            medium:
            - English
            gradeLevel:
            - Class 1
    Requests:
      title: Requests
      required:
      - filters
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProgramListErrorFilters'
      example:
        filters:
          status:
          - Live
          - Unlisted
          role:
          - REVIEWER
          user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
          medium:
          - English
          gradeLevel:
          - Class 1
    ProgramListErrorFilters:
      title: ProgramListErrorFilters
      required:
      - status
      - role
      - user_id
      - medium
      - gradeLevel
      type: object
      properties:
        status:
          type: array
          items:
            type: string
          description: ''
        role:
          type: array
          items:
            type: string
          description: ''
        user_id:
          type: string
        medium:
          type: array
          items:
            type: string
          description: ''
        gradeLevel:
          type: array
          items:
            type: string
          description: ''
      example:
        status:
        - Live
        - Unlisted
        role:
        - REVIEWER
        user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
        medium:
        - English
        gradeLevel:
        - Class 1
    ConfigurationSearch400BadRequestRequest:
      title: ConfigurationSearch400BadRequestRequest
      required:
      - request
      type: object
      properties:
        request:
          type: object
      example:
        request: {}
    ConfigurationSearch401UnauthorizedRequest:
      title: ConfigurationSearch401UnauthorizedRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ConfigurationSearchRequest'
      example:
        request:
          key: overrideMetaData
          status: active
    ConfigurationSearchRequest:
      title: ConfigurationSearchRequest
      required:
      - key
      - status
      type: object
      properties:
        key:
          type: string
        status:
          type: string
      example:
        key: overrideMetaData
        status: active
    ConfigurationSearch404NotFoundRequest:
      title: ConfigurationSearch404NotFoundRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ConfigurationSearchRequest'
      example:
        request:
          key: overrideMetaData
          status: active
    ConfigurationSearch200SuccessRequest:
      title: ConfigurationSearch200SuccessRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ConfigurationSearchRequest'
      example:
        request:
          key: overrideMetaData
          status: active
    ConfigurationSearch400BadRequest:
      title: ConfigurationSearch400BadRequest
      required:
      - id
      - ver
      - ts
      - params
      - responseCode
      - result
      type: object
      properties:
        id:
          type: string
        ver:
          type: string
        ts:
          type: string
        params:
          $ref: '#/components/schemas/ConfigurationSearchParams'
        responseCode:
          type: string
        result:
          $ref: '#/components/schemas/ConfigurationSearchResult'
      example:
        id: api.configuration.search
        ver: 1.0
        ts: 2020-12-02T11:03:07.275Z
        params:
          resmsgid: f5241db0-348d-11eb-9c32-15914148e3ce
          msgid: f80986af-e190-f6a4-04c4-c1b984e056e4
          status: successful
          err: 
          errmsg: 
        responseCode: OK
        result:
          configuration:
            id: 9
            key: overrideMetaData
            value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
            status: active
            createdby: 
            updatedby: 
            createdon: 2020-09-03T11:24:42.13Z
            updatedon: 2020-09-03T11:24:42.13Z
    ConfigurationSearchParams:
      title: ConfigurationSearchParams
      required:
      - resmsgid
      - msgid
      - status
      - err
      - errmsg
      type: object
      properties:
        resmsgid:
          type: string
        msgid:
          type: string
        status:
          type: string
        err:
          type: string
          nullable: true
        errmsg:
          type: string
          nullable: true
      example:
        resmsgid: f5241db0-348d-11eb-9c32-15914148e3ce
        msgid: f80986af-e190-f6a4-04c4-c1b984e056e4
        status: successful
        err: 
        errmsg: 
    ConfigurationSearchResult:
      title: ConfigurationSearchResult
      required:
      - configuration
      type: object
      properties:
        configuration:
          $ref: '#/components/schemas/Configuration'
      example:
        configuration:
          id: 9
          key: overrideMetaData
          value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
          status: active
          createdby: 
          updatedby: 
          createdon: 2020-09-03T11:24:42.13Z
          updatedon: 2020-09-03T11:24:42.13Z
    Configuration:
      title: Configuration
      required:
      - id
      - key
      - value
      - status
      - createdby
      - updatedby
      - createdon
      - updatedon
      type: object
      properties:
        id:
          type: integer
          format: int32
        key:
          type: string
        value:
          type: string
        status:
          type: string
        createdby:
          type: string
          nullable: true
        updatedby:
          type: string
          nullable: true
        createdon:
          type: string
        updatedon:
          type: string
      example:
        id: 9
        key: overrideMetaData
        value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
        status: active
        createdby: 
        updatedby: 
        createdon: 2020-09-03T11:24:42.13Z
        updatedon: 2020-09-03T11:24:42.13Z
    ProgramPublishParams:
      title: ProgramPublishParams
      required:
      - resmsgid
      - msgid
      - status
      - err
      - errmsg
      type: object
      properties:
        resmsgid:
          type: string
        msgid:
          type: string
          nullable: true
        status:
          type: string
        err:
          type: string
        errmsg:
          type: string
      example:
        resmsgid: 46298c50-353c-11eb-ada5-dde7a2458a3f
        msgid: 
        status: failed
        err: INVALID_TOKEN
        errmsg: INVALID_TOKEN
    NominationUpdate200SuccessRequest:
      title: NominationUpdate200SuccessRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/NominationRequest'
      example:
        request:
          program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
          status: Initiated
          content_types:
          - Teacher Resource
          user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
          updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
    NominationRequest:
      title: NominationRequest
      required:
      - program_id
      - status
      - content_types
      - user_id
      - updatedby
      type: object
      properties:
        program_id:
          type: string
        status:
          type: string
        content_types:
          type: array
          items:
            type: string
          description: ''
        user_id:
          type: string
        updatedby:
          type: string
      example:
        program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
        status: Initiated
        content_types:
        - Teacher Resource
        user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
        updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
    NominationUpdate400BadRequest:
      title: NominationUpdate400BadRequest
      required:
      - id
      - ts
      - params
      - responseCode
      - result
      type: object
      properties:
        id:
          type: string
        ts:
          type: string
        params:
          $ref: '#/components/schemas/NominationParams'
        responseCode:
          type: string
        result:
          $ref: '#/components/schemas/NominationResult'
    NominationParams:
      title: NominationParams
      required:
      - resmsgid
      - msgid
      - status
      type: object
      properties:
        resmsgid:
          type: string
        msgid:
          type: string
          nullable: true
        status:
          type: string
      example:
        resmsgid: 776d9731-34c3-11eb-9c32-15914148e3ce
        msgid: 
        status: failed
    NominationResult:
      title: NominationResult
      required:
      - name
      - parent
      - original
      - sql
      - parameters
      type: object
      properties:
        name:
          type: string
        parent:
          $ref: '#/components/schemas/Parent'
        original:
          $ref: '#/components/schemas/Original'
        sql:
          type: string
        parameters:
          type: array
          items:
            type: array
            items:
              type: string
    Parent:
      title: Parent
      required:
      - name
      - length
      - severity
      - code
      - file
      - line
      - routine
      - sql
      - parameters
      type: object
      properties:
        name:
          type: string
        length:
          type: integer
          format: int32
        severity:
          type: string
        code:
          type: string
        file:
          type: string
        line:
          type: string
        routine:
          type: string
        sql:
          type: string
        parameters:
          type: array
          items:
            type: array
            items:
              type: string
    Original:
      title: Original
      required:
      - name
      - length
      - severity
      - code
      - file
      - line
      - routine
      - sql
      - parameters
      type: object
      properties:
        name:
          type: string
        length:
          type: integer
          format: int32
        severity:
          type: string
        code:
          type: string
        file:
          type: string
        line:
          type: string
        routine:
          type: string
        sql:
          type: string
        parameters:
          type: array
          items:
            type: array
            items:
              type: string
    NominationUpdate400BadRequestRequest:
      title: NominationUpdate400BadRequestRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/NominationRequest'
      example:
        request:
          program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
          status: ''
          content_types:
          - Teacher Resource
          user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
          updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
    NominationUpdate401UnauthorizedRequest:
      title: NominationUpdate401UnauthorizedRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/NominationRequest'
      example:
        request:
          program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
          status: Initiated
          content_types:
          - Teacher Resource
          user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
          updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
    NominationUpdate404NotFoundRequest:
      title: NominationUpdate404NotFoundRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/NominationRequest'
      example:
        request:
          program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
          status: Initiated
          content_types:
          - Teacher Resource
          user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
          updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
    NominationListDownload200SuccessRequest:
      title: NominationListDownload200SuccessRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/NominationListDownloadRequest'
      example:
        request:
          filters:
            program_name: allTypeContent
            program_id: d16524d0-348a-11eb-9c32-15914148e3ce
            status:
            - Pending
            - Approved
            - Rejected
    NominationListDownloadRequest:
      title: NominationListDownloadRequest
      required:
      - filters
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/NominationListFilters'
      example:
        filters:
          program_name: allTypeContent
          program_id: d16524d0-348a-11eb-9c32-15914148e3ce
          status:
          - Pending
          - Approved
          - Rejected
    NominationListFilters:
      title: NominationListFilters
      required:
      - program_name
      - program_id
      - status
      type: object
      properties:
        program_name:
          type: string
        program_id:
          type: string
        status:
          type: array
          items:
            type: string
          description: ''
      example:
        program_name: allTypeContent
        program_id: d16524d0-348a-11eb-9c32-15914148e3ce
        status:
        - Pending
        - Approved
        - Rejected
    NominationListDownload400BadRequestwithoutProgram-idRequest:
      title: NominationListDownload400BadRequestwithoutProgram-idRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/NominationListDownloadRequest'
      example:
        request:
          filters:
            program_name: allTypeContent
            program_id: ''
            status:
            - Pending
            - Approved
            - Rejected
    NominationListDownload404NotFoundRequest:
      title: NominationListDownload404NotFoundRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/NominationListDownloadRequest'
      example:
        request:
          filters:
            program_name: allTypeContent
            program_id: d16524d0-348a-11eb-9c32-15914148e3ce
            status:
            - Pending
            - Approved
            - Rejected
    NominationList200SuccessRequest:
      title: NominationList200SuccessRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ListRequest'
      example:
        request:
          filters: {}
    NominationList401UnauthorizedRequest:
      title: NominationList401UnauthorizedRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ListRequest'
      example:
        request:
          filters: {}
    NominationList404NotFoundRequest:
      title: NominationList404NotFoundRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ListRequest'
      example:
        request:
          filters: {}
    Preference-create200SuccessRequest:
      title: Preference-create200SuccessRequest
      required:
      - request
      type: object
      properties:
        request:
          $ref: '#/components/schemas/PreferenceRequest'
      example:
        request:
          user_id: 48dc0e70-2775-474b-9b78-def27d047836
          program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
          preference:
            medium:
            - English
            subject:
            - ''
            gradeLevel:
            - Class 7
          type: sourcing
    PreferenceRequest:
      title: PreferenceRequest
      required:
      - user_id
      - program_id
      - preference
      - type
      type: object
      properties:
        user_id:
          type: string
        program_id:
          type: string
        preference:
          $ref: '#/components/schemas/Preference'
        type:
          type: string
      example:
        user_id: 48dc0e70-2775-474b-9b78-def27d047836
        program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
        preference:
          medium:
          - English
          subject:
          - ''
          gradeLevel:
          - Class 7
        type: sourcing
    Preference:
      title: Preference
      required:
      - medium
      - subject
      - gradeLevel
      type: object
      properties:
        medium:
          type: array
          items:
            type: string
          description: ''
        subject:
          type: array
          items:
            type: string
          description: ''
        gradeLevel:
          type: array
          items:
            type: string
          description: ''
      example:
        medium:
        - English
        subject:
        - ''
        gradeLevel:
        - Class 7
    Preference-create400BadRequestRequest:
      title: Preference-create400BadRequestRequest
      required:
      - request
      type: object
      properties:
[...]
