openapi: 3.0.0
info:
  title: Program_API's
  description: 'These are the API used to do all the stufs about program like creating, updating and some more operations '
  contact: {}
  version: '1.0'
servers:
- url: https://dock.sunbirded.org/content/program/v1
  variables: {}
paths:
  /list:
    post:
      tags:
      - Misc
      summary: https://dock.sunbirded.org/content/program/v1/list
      operationId: https://dock.sunbirded.org/content/program/v1/list
      parameters:
      - name: Connection
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: keep-alive
      - name: Pragma
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: no-cache
      - name: X-App-Id
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: dev.dock.portal
      - name: ts
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: 2020-12-02T11:25:26+05:30
      - name: X-msgid
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: e973c862-115d-51f1-5637-ca177b072a3f
      - name: User-Agent
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: X-Source
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: web
      - name: X-Device-ID
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: d94997d031c714aa590c8f2380850a69
      - name: Origin
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org
      - name: Sec-Fetch-Site
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: same-origin
      - name: Sec-Fetch-Mode
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: cors
      - name: Sec-Fetch-Dest
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: empty
      - name: Referer
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://dock.sunbirded.org/contribute/myenrollprograms
      - name: Accept-Language
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: en-GB,en;q=0.9
      - name: Cookie
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: connect.sid=s%3A6fKZOFiFJcnIQnw998c_9Wz6Y-Aup7v4.EScUhuBdEetLBIRgsuOCAIYjc7VCtugzpqv8qCCoFoY
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listrequest'
            example:
              request:
                filters:
                  enrolled_id:
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                  status:
                  - Live
                  - Unlisted
                sort:
                  medium:
                  - English
                  - Hindi
                  - Tamil
                 
                  gradeLevel:
                  - Class 1
                  - Class 10
                  - Class 7
                  - Class 3
                  - Class 9
                  - Class 2
                  - Class 4
                  - Class 6
                  - Class 5
                  - Class 8
                  subject:
                  - Mathematics
                  - Hindi
                  - Science
                  - English
                  - Geography
                  - History
                  - Tamil
                 
        required: true
      responses:
        200:
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Wed, 02 Dec 2020 09:51:51 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 114522
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            X-DNS-Prefetch-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: off
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: SAMEORIGIN
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15552000; includeSubDomains
            X-Download-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: noopen
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            x-ratelimit-limit-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 30000
            x-ratelimit-remaining-hour:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 29992
            x-powered-by:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Express
            access-control-allow-origin:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '*'
            access-control-allow-methods:
              content:
                text/plain:
                  schema:
                    type: string
                  example: GET,PUT,POST,PATCH,DELETE,OPTIONS
            access-control-allow-headers:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Content-Type, Authorization,cid, user-id, x-auth, Cache-Control, X-Requested-With, datatype, *
            etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: W/"1bf5a-UrvswHKMpx9iinf/0MZ1OXgg0HU"
            x-kong-upstream-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 689
            x-kong-proxy-latency:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 0
            via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: kong/0.9.9
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Success'
              example:
                id: api.program.list
                ts: 2020-12-02T09:51:51.521Z
                params:
                  resmsgid: 0097d511-3484-11eb-9c32-15914148e3ce
                  msgid: 0097d510-3484-11eb-9c32-15914148e3ce
                  status: successful
                  err: 
                  errmsg: 
                responseCode: OK
                result:
                  programs:
                  - id: 13727
                    program_id: ba0f3ba0-19a9-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Pending
                    content_types:
                    - Asset
                    collection_ids:
                    - do_1131395604521943041440
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    createdon: 2020-11-02T12:05:02.373Z
                    updatedon: 2020-11-02T12:05:05.722Z
                    program:
                      program_id: ba0f3ba0-19a9-11eb-81b1-659ec274e395
                      name: aaa
                      type: public
                      collection_ids:
                      - do_11310770891570380814
                      - do_113108534623428608149
                      - do_113123388075057152110
                      - do_11311353404644556811
                      - do_113114880153911296165
                      - do_11312842715158937612
                      - do_113108536022335488152
                      content_types:
                      - Asset
                      target_collection_category: 
                      startdate: 2020-10-29T05:44:09.017Z
                      enddate: 2021-02-02T18:30:00Z
                      nomination_enddate: 2020-11-06T18:30:00Z
                      shortlisting_enddate: 2020-12-05T18:30:00Z
                      content_submission_enddate: 2021-01-09T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: bf020396-0d7b-436f-ae9f-869c6780fc45
                      updatedby: 
                      createdon: 2020-10-29T05:44:09.016Z
                      updatedon: 2020-11-20T05:50:06.403Z
                      rootorg_id: 01307938306521497658
                      sourcing_org_name: Christ_University
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics", "Science", "Geography"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1", "Class 3", "Class 9", "Class 2", "Class 7", "Class 4", "Class 6", "Class 5", "Class 10", "Class 8"]'
                      medium: '["English", "Hindi"]'
                    matchCount: 15
                  - id: 13724
                    program_id: 5d7ba0e0-18e6-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - Learning Resource
                    - Explanation Content
                    - Practice Question Set
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 
                    createdon: 2020-11-02T11:58:23.891Z
                    updatedon: 
                    program:
                      program_id: 5d7ba0e0-18e6-11eb-81b1-659ec274e395
                      name: dfgskjdhfgsakjhd
                      type: public
                      collection_ids:
                      - do_11304065892935270414
                      - do_11312349241665945618
                      - do_113133925712527360121
                      - do_113123500867362816115
                      - do_1131232640033505281322
                      - do_113123507574349824124
                      content_types:
                      - Practice Question Set
                      - Explanation Content
                      - Learning Resource
                      target_collection_category: 
                      startdate: 2020-10-28T06:25:51.571Z
                      enddate: 2020-11-07T18:30:00Z
                      nomination_enddate: 2020-11-07T18:30:00Z
                      shortlisting_enddate: 2020-11-07T18:30:00Z
                      content_submission_enddate: 2020-11-07T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: cca53828-8111-4d71-9c45-40e569f13bad
                      updatedby: 
                      createdon: 2020-10-28T06:25:51.571Z
                      updatedon: 2020-10-28T06:25:53.886Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi", "Mathematics", "English"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10", "Class 1", "Class 7"]'
                      medium: '["English", "Hindi"]'
                    matchCount: 8
                  - id: 13499
                    program_id: 39794400-06e8-11eb-ad34-77ef95caab18
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - TeachingMethod
                    - PedagogyFlow
                    - FocusSpot
                    - LearningOutcomeDefinition
                    - PracticeQuestionSet
                    - CuriosityQuestionSet
                    - MarkingSchemeRubric
                    - ExplanationResource
                    - ExperientialResource
                    - ConceptMap
                    - SelfAssess
                    - ExplanationVideo
                    - ClassroomTeachingVideo
                    - ExplanationReadingMaterial
                    - LearningActivity
                    - PreviousBoardExamPapers
                    - LessonPlanResource
                    collection_ids:
                    - do_1131226666871767041464
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 48dc0e70-2775-474b-9b78-def27d047836
                    createdon: 2020-10-05T08:56:12.141Z
                    updatedon: 2020-10-05T09:08:09.67Z
                    program:
                      program_id: 39794400-06e8-11eb-ad34-77ef95caab18
                      name: test PROJ
                      type: public
                      collection_ids:
                      - do_113006422986833920139
                      content_types:
                      - Teacher Resource
                      - Practice Question Set
                      - Explanation Content
                      - Learning Resource
                      - Course Assessment
                      target_collection_category: 
                      startdate: 2020-10-05T08:53:42.049Z
                      enddate: 2020-10-30T18:30:00Z
                      nomination_enddate: 2020-10-30T18:30:00Z
                      shortlisting_enddate: 2020-10-30T18:30:00Z
                      content_submission_enddate: 2020-10-30T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping:
                        REVIEWER: []
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-10-05T08:53:42.049Z
                      updatedon: 2020-10-05T09:04:06.246Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1", "Class 3", "Class 2", "Class 5", "Class 6", "Class 4"]'
                      medium: '["English"]'
                    matchCount: 8
                  - id: 13726
                    program_id: e216ac30-1ce4-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Pending
                    content_types:
                    - Learning Resource
                    - Explanation Content
                    - Practice Question Set
                    collection_ids:
                    - do_1131424708488642561132
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    createdon: 2020-11-02T12:02:20.093Z
                    updatedon: 2020-11-02T12:03:40.761Z
                    program:
                      program_id: e216ac30-1ce4-11eb-81b1-659ec274e395
                      name: new form inte check
                      type: public
                      collection_ids:
                      - do_11304065892935270414
                      - do_1131232640033505281322
                      - do_11312349241665945618
                      content_types:
                      - Explanation Content
                      - Learning Resource
                      - Practice Question Set
                      target_collection_category: 
                      startdate: 2020-11-02T08:25:21.217Z
                      enddate: 2020-11-28T18:30:00Z
                      nomination_enddate: 2020-11-28T18:30:00Z
                      shortlisting_enddate: 2020-11-28T18:30:00Z
                      content_submission_enddate: 2020-11-28T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: cca53828-8111-4d71-9c45-40e569f13bad
                      updatedby: 
                      createdon: 2020-11-02T08:25:21.217Z
                      updatedon: 2020-11-02T08:25:23.913Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi", "English", "Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10", "Class 7", "Class 1"]'
                      medium: '["English"]'
                    matchCount: 7
                  - id: 13725
                    program_id: 27aa8570-19af-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - Explanation Content
                    - Learning Resource
                    - Practice Question Set
                    - Teacher Resource
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    createdon: 2020-11-02T11:59:50Z
                    updatedon: 2020-11-04T05:04:32.764Z
                    program:
                      program_id: 27aa8570-19af-11eb-81b1-659ec274e395
                      name: test ecml editor
                      type: public
                      collection_ids:
                      - do_11304065892935270414
                      - do_113123500867362816115
                      - do_1131232640033505281322
                      - do_113123509964357632125
                      - do_113123507574349824124
                      content_types:
                      - Explanation Content
                      - Learning Resource
                      - Practice Question Set
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-10-29T06:22:56.873Z
                      enddate: 2020-11-07T18:30:00Z
                      nomination_enddate: 2020-11-07T18:30:00Z
                      shortlisting_enddate: 2020-11-07T18:30:00Z
                      content_submission_enddate: 2020-11-07T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: cca53828-8111-4d71-9c45-40e569f13bad
                      updatedby: 
                      createdon: 2020-10-29T06:22:56.873Z
                      updatedon: 2020-10-29T06:23:01.854Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi", "Mathematics", "English"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10", "Class 1", "Class 7"]'
                      medium: '["English"]'
                    matchCount: 7
                  - id: 13220
                    program_id: 2a3820d0-f331-11ea-b475-0d039c1f3385
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Pending
                    content_types:
                    - TeachingMethod
                    - PedagogyFlow
                    collection_ids:
                    - do_11310490908752281611142
                    - do_11310490908756377611144
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    createdon: 2020-09-10T06:46:23.44Z
                    updatedon: 2020-09-10T07:08:37.155Z
                    program:
                      program_id: 2a3820d0-f331-11ea-b475-0d039c1f3385
                      name: CSVUpdated600
                      type: public
                      collection_ids:
                      - do_1130956340952104961166
                      - do_11309777863313817611150
                      - do_11309300726265446411
                      content_types:
                      - Teacher Resource
                      - Practice Question Set
                      - Explanation Content
                      - Learning Resource
                      - Course Assessment
                      target_collection_category: 
                      startdate: 2020-09-10T06:45:45.249Z
                      enddate: 2021-01-08T18:30:00Z
                      nomination_enddate: 2020-10-03T18:30:00Z
                      shortlisting_enddate: 2020-11-07T18:30:00Z
                      content_submission_enddate: 2020-12-05T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-09-10T06:45:45.249Z
                      updatedon: 2020-09-10T06:45:48.193Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics", "Hindi", "English"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 7", "Class 10", "Class 6"]'
                      medium: '["English"]'
                    matchCount: 7
                  - id: 13609
                    program_id: 45df0ae0-12c3-11eb-a8d8-3356e959c4c3
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - SelfAssess
                    collection_ids:
                    - do_11313334531726540812638
                    - do_11313334531733094412641
                    - do_11313334531723264012637
                    - do_11313334531728179212639
                    - do_11313334531730636812640
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 48dc0e70-2775-474b-9b78-def27d047836
                    createdon: 2020-10-20T11:12:43.934Z
                    updatedon: 2020-10-20T11:13:16.241Z
                    program:
                      program_id: 45df0ae0-12c3-11eb-a8d8-3356e959c4c3
                      name: DP-10 ContentEditor
                      type: public
                      collection_ids:
                      - do_1130562611465256961126
                      - do_11304065892935270414
                      - do_113000859727618048110
                      - do_11300085766781337611
                      - do_113003720241594368121
                      content_types:
                      - Course Assessment
                      target_collection_category: 
                      startdate: 2020-10-20T10:59:25.546Z
                      enddate: 2020-12-05T18:30:00Z
                      nomination_enddate: 2020-10-19T18:30:00Z
                      shortlisting_enddate: 2020-11-06T18:30:00Z
                      content_submission_enddate: 2020-11-06T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: cca53828-8111-4d71-9c45-40e569f13bad
                      updatedby: 
                      createdon: 2020-10-20T10:59:25.546Z
                      updatedon: 2020-10-20T10:59:27.626Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi", "Science"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10", "Class 1"]'
                      medium: '["Hindi", "English"]'
                    matchCount: 6
                  - id: 13345
                    program_id: 11936720-f344-11ea-b475-0d039c1f3385
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - TeachingMethod
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 
                    createdon: 2020-09-15T11:59:41.973Z
                    updatedon: 
                    program:
                      program_id: 11936720-f344-11ea-b475-0d039c1f3385
                      name: Sample test 1
                      type: public
                      collection_ids:
                      - do_1130562611465256961126
                      - do_113000859727618048110
                      - do_11300085766781337611
                      content_types:
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-06-01T00:00:00Z
                      enddate: 2020-10-16T00:00:00Z
                      nomination_enddate: 2020-10-05T00:00:00Z
                      shortlisting_enddate: 2020-10-10T00:00:00Z
                      content_submission_enddate: 2020-10-15T00:00:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-09-10T09:00:55.631Z
                      updatedon: 2020-09-15T11:31:41.357Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi", "Science"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10", "Class 1"]'
                      medium: '["Hindi", "English"]'
                    matchCount: 6
                  - id: 13258
                    program_id: bcf0f5f0-f3e5-11ea-b2c9-f5173e0d7278
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - TeachingMethod
                    - PedagogyFlow
                    collection_ids:
                    - do_11310554416672768012441
                    - do_11310554416671129612440
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 424644bc-62ec-4222-b79c-206e1bf83807
                    createdon: 2020-09-11T05:12:04.637Z
                    updatedon: 2020-09-11T05:13:15.753Z
                    program:
                      program_id: bcf0f5f0-f3e5-11ea-b2c9-f5173e0d7278
                      name: DP-950
                      type: public
                      collection_ids:
                      - do_113095814226018304115
                      - do_1130950881599979521201
                      content_types:
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-09-11T04:17:53.221Z
                      enddate: 2020-11-05T18:30:00Z
                      nomination_enddate: 2020-09-11T18:30:00Z
                      shortlisting_enddate: 2020-10-01T18:30:00Z
                      content_submission_enddate: 2020-10-30T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping:
                        REVIEWER:
                        - 424644bc-62ec-4222-b79c-206e1bf83807
                        - 31ec316f-3bd9-440e-a4ba-7ed6cdeb8acd
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-09-11T04:17:53.221Z
                      updatedon: 2020-09-11T04:34:56.063Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi", "Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10", "Class 1"]'
                      medium: '["Hindi", "English"]'
                    matchCount: 6
                  - id: 13926
                    program_id: 20afc6e0-2da0-11eb-a9a0-81830f9a9942
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Explanation Content
                    - Learning Resource
                    - Teacher Resource
                    collection_ids:
                    - do_1131575410286510081635
                    - do_1131575410286264321634
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 149d152e-9192-4721-9e69-01e1e47f9b70
                    createdon: 2020-11-23T15:27:13.02Z
                    updatedon: 2020-11-23T15:27:35.465Z
                    program:
                      program_id: 20afc6e0-2da0-11eb-a9a0-81830f9a9942
                      name: qwerty11
                      type: public
                      collection_ids:
                      - do_113107789906829312132
                      - do_113114837395554304110
                      content_types:
                      - Explanation Content
                      - Learning Resource
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-11-23T15:25:44.144Z
                      enddate: 2020-12-24T18:30:00Z
                      nomination_enddate: 2020-11-29T18:30:00Z
                      shortlisting_enddate: 2020-12-04T18:30:00Z
                      content_submission_enddate: 2020-12-14T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 149d152e-9192-4721-9e69-01e1e47f9b70
                      updatedby: 
                      createdon: 2020-11-23T15:25:44.144Z
                      updatedon: 2020-11-23T15:25:45.431Z
                      rootorg_id: 0130659746662727680
                      sourcing_org_name: Vidyanikethan
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi", "Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: NCF
                      board: 
                      gradeLevel: '["Class 10", "Class 1"]'
                      medium: '["English"]'
                    matchCount: 5
                  - id: 13810
                    program_id: 5da39d10-1ffe-11eb-a039-b7beee6d468c
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - eTextbook
                    - Course Assessment
                    - Explanation Content
                    - Learning Resource
                    - Teacher Resource
                    - Practice Question Set
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 
                    createdon: 2020-11-09T05:36:01.902Z
                    updatedon: 
                    program:
                      program_id: 5da39d10-1ffe-11eb-a039-b7beee6d468c
                      name: BALLOON
                      type: public
                      collection_ids:
                      - do_11314525897837772811182
                      - do_113107793280843776153
                      content_types:
                      - eTextbook
                      - Course Assessment
                      - Explanation Content
                      - Learning Resource
                      - Teacher Resource
                      - Practice Question Set
                      target_collection_category: 
                      startdate: 2020-11-06T07:05:13.806Z
                      enddate: 2021-01-21T18:30:00Z
                      nomination_enddate: 2020-11-28T18:30:00Z
                      shortlisting_enddate: 2020-12-04T18:30:00Z
                      content_submission_enddate: 2021-01-01T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-06T07:05:13.806Z
                      updatedon: 2020-11-06T07:05:12.547Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["History", "Hindi"]'
                      defaultContributeOrgReview: false
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10"]'
                      medium: '["Hindi", "English"]'
                    matchCount: 5
                  - id: 13511
                    program_id: 87a0fd30-078d-11eb-ad34-77ef95caab18
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Pending
                    content_types:
                    - PracticeQuestionSet
                    collection_ids:
                    - do_1131232505414451201577
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 
                    createdon: 2020-10-06T04:43:18.055Z
                    updatedon: 
                    program:
                      program_id: 87a0fd30-078d-11eb-ad34-77ef95caab18
                      name: test100
                      type: public
                      collection_ids:
                      - do_11304065892935270414
                      content_types:
                      - Practice Question Set
                      target_collection_category: 
                      startdate: 2020-10-06T04:41:34.375Z
                      enddate: 2020-10-24T18:30:00Z
                      nomination_enddate: 2020-10-10T18:30:00Z
                      shortlisting_enddate: 2020-10-14T18:30:00Z
                      content_submission_enddate: 2020-10-19T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-10-06T04:41:34.375Z
                      updatedon: 2020-10-06T04:41:34.767Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["English", "Hindi"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10"]'
                      medium: '["English", "Hindi"]'
                    matchCount: 5
                  - id: 13396
                    program_id: 6c414910-fca6-11ea-bd95-45e87e333d53
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - SelfAssess
                    collection_ids:
                    - do_113113427900088320111092
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: cca53828-8111-4d71-9c45-40e569f13bad
                    createdon: 2020-09-22T07:37:58.169Z
                    updatedon: 2020-09-22T07:38:10.509Z
                    program:
                      program_id: 6c414910-fca6-11ea-bd95-45e87e333d53
                      name: New Project DP-10
                      type: public
                      collection_ids:
                      - do_11300085766781337611
                      content_types:
                      - Course Assessment
                      target_collection_category: 
                      startdate: 2020-09-22T07:37:20.105Z
                      enddate: 2020-10-28T18:30:00Z
                      nomination_enddate: 2020-09-23T18:30:00Z
                      shortlisting_enddate: 2020-09-25T18:30:00Z
                      content_submission_enddate: 2020-09-30T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: cca53828-8111-4d71-9c45-40e569f13bad
                      updatedby: 
                      createdon: 2020-09-22T07:37:20.105Z
                      updatedon: 2020-09-22T07:37:21.838Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1", "Class 10"]'
                      medium: '["Hindi", "English"]'
                    matchCount: 5
                  - id: 13936
                    program_id: 8d25f050-8df1-11ea-a3b1-3fc837314429
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - Teacher Resource
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 
                    createdon: 2020-11-24T07:57:48.365Z
                    updatedon: 
                    program:
                      program_id: 8d25f050-8df1-11ea-a3b1-3fc837314429
                      name: TN tenant Test project
                      type: public
                      collection_ids:
                      - do_11301367038142054411248
                      - do_11301367120541286411551
                      content_types:
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-05-04T10:25:18.092Z
                      enddate: 2021-06-18T18:30:00Z
                      nomination_enddate: 2021-03-27T18:30:00Z
                      shortlisting_enddate: 2021-05-01T18:30:00Z
                      content_submission_enddate: 2021-05-01T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping:
                        REVIEWER:
                        - 6d9f0332-3662-497d-a8ff-ede453e557e4
                      createdby: 90ffbea3-2f41-4404-868e-2dfbe2ed3656
                      updatedby: 
                      createdon: 2020-05-04T10:25:18.092Z
                      updatedon: 2020-10-23T10:18:31.295Z
                      rootorg_id: 013013662290239488220
                      sourcing_org_name: Tamilnadu_Tenant
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: ''
                      subject: '["Tamil"]'
                      defaultContributeOrgReview: 
                      framework: tn_k-12
                      board: State (Tamil Nadu)
                      gradeLevel: '["Class 7"]'
                      medium: '["English", "Tamil"]'
                    matchCount: 4
                  - id: 13980
                    program_id: 93a64a90-3393-11eb-9c32-15914148e3ce
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Explanation Content
                    collection_ids:
                    - do_1131629012558807041300
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 149d152e-9192-4721-9e69-01e1e47f9b70
                    createdon: 2020-12-01T05:11:43.608Z
                    updatedon: 2020-12-01T05:12:17.904Z
                    program:
                      program_id: 93a64a90-3393-11eb-9c32-15914148e3ce
                      name: projectTestingRD
                      type: public
                      collection_ids:
                      - do_113114837395554304110
                      content_types:
                      - Explanation Content
                      target_collection_category:
                      - Digital Textbook
                      startdate: 2020-12-01T05:11:07.146Z
                      enddate: 2020-12-19T18:30:00Z
                      nomination_enddate: 2020-12-04T18:30:00Z
                      shortlisting_enddate: 2020-12-09T18:30:00Z
                      content_submission_enddate: 2020-12-14T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 149d152e-9192-4721-9e69-01e1e47f9b70
                      updatedby: 
                      createdon: 2020-12-01T05:11:07.146Z
                      updatedon: 2020-12-01T05:11:09.868Z
                      rootorg_id: 0130659746662727680
                      sourcing_org_name: Vidyanikethan
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: '["ekstep_ncert_k-12"]'
                      board: '["CBSE"]'
                      gradeLevel: '["Class 1"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13975
                    program_id: 3d6dbca0-330f-11eb-9c32-15914148e3ce
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Digital Textbook
                    collection_ids:
                    - do_1131624356880384001278
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 48dc0e70-2775-474b-9b78-def27d047836
                    createdon: 2020-11-30T13:24:50.212Z
                    updatedon: 2020-11-30T13:25:20.793Z
                    program:
                      program_id: 3d6dbca0-330f-11eb-9c32-15914148e3ce
                      name: aaa
                      type: public
                      collection_ids:
                      - do_11312349241665945618
                      content_types:
                      - Digital Textbook
                      target_collection_category:
                      - Digital Textbook
                      startdate: 2020-11-30T13:23:56.747Z
                      enddate: 2020-12-19T18:30:00Z
                      nomination_enddate: 2020-12-04T18:30:00Z
                      shortlisting_enddate: 2020-12-09T18:30:00Z
                      content_submission_enddate: 2020-12-14T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-11-30T13:23:56.747Z
                      updatedon: 2020-11-30T13:23:57.909Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: '["ekstep_ncert_k-12"]'
                      board: '["CBSE"]'
                      gradeLevel: '["Class 1"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13952
                    program_id: b97ad4c0-2fab-11eb-9589-67618f37e236
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Explanation Content
                    - Learning Resource
                    - Teacher Resource
                    collection_ids:
                    - do_11315938464160153611
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 149d152e-9192-4721-9e69-01e1e47f9b70
                    createdon: 2020-11-26T06:07:38.451Z
                    updatedon: 2020-11-26T06:08:09.754Z
                    program:
                      program_id: b97ad4c0-2fab-11eb-9589-67618f37e236
                      name: target collection testing2
                      type: public
                      collection_ids:
                      - do_113107789906829312132
                      content_types:
                      - Explanation Content
                      - Learning Resource
                      - Teacher Resource
                      target_collection_category:
                      - Digital Textbook
                      startdate: 2020-11-26T05:56:34.906Z
                      enddate: 2020-12-14T18:30:00Z
                      nomination_enddate: 2020-11-29T18:30:00Z
                      shortlisting_enddate: 2020-12-04T18:30:00Z
                      content_submission_enddate: 2020-12-09T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 149d152e-9192-4721-9e69-01e1e47f9b70
                      updatedby: 
                      createdon: 2020-11-26T05:56:34.906Z
                      updatedon: 2020-11-26T06:28:51.38Z
                      rootorg_id: 0130659746662727680
                      sourcing_org_name: Vidyanikethan
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi"]'
                      defaultContributeOrgReview: false
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13948
                    program_id: 8515be10-2e53-11eb-9589-67618f37e236
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Explanation Content
                    - Learning Resource
                    - Teacher Resource
                    collection_ids:
                    - do_1131581724168355841147
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 149d152e-9192-4721-9e69-01e1e47f9b70
                    createdon: 2020-11-24T15:04:25.438Z
                    updatedon: 2020-11-24T15:05:07.045Z
                    program:
                      program_id: 8515be10-2e53-11eb-9589-67618f37e236
                      name: target_collection_category_test1
                      type: public
                      collection_ids:
                      - do_113114837395554304110
                      content_types:
                      - Explanation Content
                      - Learning Resource
                      - Teacher Resource
                      target_collection_category:
                      - Digital Textbook
                      startdate: 2020-11-24T12:50:17.808Z
                      enddate: 2020-12-19T18:30:00Z
                      nomination_enddate: 2020-11-29T18:30:00Z
                      shortlisting_enddate: 2020-12-04T18:30:00Z
                      content_submission_enddate: 2020-12-09T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 149d152e-9192-4721-9e69-01e1e47f9b70
                      updatedby: 
                      createdon: 2020-11-24T12:50:17.808Z
                      updatedon: 2020-11-24T12:50:19.056Z
                      rootorg_id: 0130659746662727680
                      sourcing_org_name: Vidyanikethan
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: NCF
                      board: 
                      gradeLevel: '["Class 1"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13934
                    program_id: cef789f0-2af7-11eb-9bed-c53bebe417b7
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - Explanation Content
                    - eTextbook
                    - Learning Resource
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    createdon: 2020-11-24T06:52:39.499Z
                    updatedon: 2020-11-24T07:51:45.862Z
                    program:
                      program_id: cef789f0-2af7-11eb-9bed-c53bebe417b7
                      name: DP-1188
                      type: public
                      collection_ids:
                      - do_113142564757225472114
                      content_types:
                      - eTextbook
                      - Explanation Content
                      - Learning Resource
                      target_collection_category: 
                      startdate: 2020-11-20T06:15:50.532Z
                      enddate: 2021-01-28T18:30:00Z
                      nomination_enddate: 2020-11-28T18:30:00Z
                      shortlisting_enddate: 2020-12-04T18:30:00Z
                      content_submission_enddate: 2021-01-07T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping:
                        REVIEWER:
                        - 424644bc-62ec-4222-b79c-206e1bf83807
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-20T06:15:50.532Z
                      updatedon: 2020-11-20T07:27:53.039Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi"]'
                      defaultContributeOrgReview: false
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 10"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13933
                    program_id: 34885340-2e21-11eb-a9a0-81830f9a9942
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - Explanation Content
                    - Learning Resource
                    - Teacher Resource
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 
                    createdon: 2020-11-24T06:51:05.218Z
                    updatedon: 
                    program:
                      program_id: 34885340-2e21-11eb-a9a0-81830f9a9942
                      name: Nadiya_Form
                      type: public
                      collection_ids:
                      - do_113107779644522496119
                      content_types:
                      - Explanation Content
                      - Learning Resource
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-11-24T06:50:48.303Z
                      enddate: 2020-12-23T18:30:00Z
                      nomination_enddate: 2020-11-26T18:30:00Z
                      shortlisting_enddate: 2020-11-27T18:30:00Z
                      content_submission_enddate: 2020-12-04T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 149d152e-9192-4721-9e69-01e1e47f9b70
                      updatedby: 
                      createdon: 2020-11-24T06:50:48.303Z
                      updatedon: 2020-11-24T06:50:49.853Z
                      rootorg_id: 0130659746662727680
                      sourcing_org_name: Vidyanikethan
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: false
                      framework: NCF
                      board: 
                      gradeLevel: '["Class 1"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13924
                    program_id: 77339870-2d91-11eb-a9a0-81830f9a9942
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Course Assessment
                    - eTextbook
                    - Explanation Content
                    - Learning Resource
                    - Practice Question Set
                    - Teacher Resource
                    collection_ids:
                    - do_1131574898707496961599
                    - do_1131574898707742721600
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 48dc0e70-2775-474b-9b78-def27d047836
                    createdon: 2020-11-23T13:43:25.902Z
                    updatedon: 2020-11-23T13:44:02.493Z
                    program:
                      program_id: 77339870-2d91-11eb-a9a0-81830f9a9942
                      name: qwerty1
                      type: public
                      collection_ids:
                      - do_1131235140950999041893
                      - do_1131235139329392641723
                      content_types:
                      - Course Assessment
                      - eTextbook
                      - Explanation Content
                      - Learning Resource
                      - Practice Question Set
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-11-23T13:41:39.065Z
                      enddate: 2020-12-24T18:30:00Z
                      nomination_enddate: 2020-11-22T18:30:00Z
                      shortlisting_enddate: 2020-11-28T18:30:00Z
                      content_submission_enddate: 2020-12-14T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping:
                        REVIEWER: []
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-11-23T13:41:39.065Z
                      updatedon: 2020-11-23T13:42:28.194Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: '["ekstep_ncert_k-12"]'
                      board: '["CBSE"]'
                      gradeLevel: '["Class 1"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13820
                    program_id: 7f03e960-230a-11eb-a039-b7beee6d468c
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Pending
                    content_types:
                    - Content Playlist
                    - Course
                    - Course Assessment
                    - eTextbook
                    - Learning Resource
                    - Teacher Resource
                    - Practice Question Set
                    - Explanation Content
                    collection_ids:
                    - do_1131480073757163521614
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    createdon: 2020-11-10T07:20:51.323Z
                    updatedon: 2020-11-10T07:23:16.259Z
                    program:
                      program_id: 7f03e960-230a-11eb-a039-b7beee6d468c
                      name: 10:Nov
                      type: public
                      collection_ids:
                      - do_1131473497196134401930
                      content_types:
                      - Content Playlist
                      - Course
                      - Course Assessment
                      - eTextbook
                      - Learning Resource
                      - Teacher Resource
                      - Practice Question Set
                      - Explanation Content
                      target_collection_category: 
                      startdate: 2020-11-10T04:09:26.382Z
                      enddate: 2020-12-30T18:30:00Z
                      nomination_enddate: 2020-11-14T18:30:00Z
                      shortlisting_enddate: 2020-11-28T18:30:00Z
                      content_submission_enddate: 2020-12-05T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-10T04:09:26.382Z
                      updatedon: 2020-11-10T04:09:29.279Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13813
                    program_id: 3dc82bc0-1f52-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Initiated
                    content_types:
                    - Explanation Content
                    - eTextbook
                    - Learning Resource
                    - Teacher Resource
                    - Course Assessment
                    - Practice Question Set
                    collection_ids: 
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 
                    createdon: 2020-11-09T07:02:28.259Z
                    updatedon: 
                    program:
                      program_id: 3dc82bc0-1f52-11eb-81b1-659ec274e395
                      name: PRIMARY
                      type: public
                      collection_ids:
                      - do_1131446493736058881828
                      content_types:
                      - eTextbook
                      - Explanation Content
                      - Learning Resource
                      - Teacher Resource
                      - Course Assessment
                      - Practice Question Set
                      target_collection_category: 
                      startdate: 2020-11-05T10:33:39.222Z
                      enddate: 2020-12-03T18:30:00Z
                      nomination_enddate: 2020-11-19T18:30:00Z
                      shortlisting_enddate: 2020-11-27T18:30:00Z
                      content_submission_enddate: 2020-11-27T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: cca53828-8111-4d71-9c45-40e569f13bad
                      updatedby: 
                      createdon: 2020-11-05T10:33:39.222Z
                      updatedon: 2020-11-05T10:33:38.116Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Hindi"]'
                      defaultContributeOrgReview: false
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 9"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13812
                    program_id: 13e22d50-2250-11eb-a039-b7beee6d468c
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Content Playlist
                    - Course
                    - Course Assessment
                    - eTextbook
                    - Explanation Content
                    - Learning Resource
                    - Practice Question Set
                    - Teacher Resource
                    collection_ids:
                    - do_113147351456399360138
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    createdon: 2020-11-09T05:55:23.582Z
                    updatedon: 2020-11-09T05:55:32.286Z
                    program:
                      program_id: 13e22d50-2250-11eb-a039-b7beee6d468c
                      name: Bulk Upload-DP-1317
                      type: public
                      collection_ids:
                      - do_1131473497196134401930
                      content_types:
                      - Content Playlist
                      - Course
                      - Course Assessment
                      - eTextbook
                      - Explanation Content
                      - Learning Resource
                      - Practice Question Set
                      - Teacher Resource
                      target_collection_category: 
                      startdate: 2020-11-09T05:54:59.811Z
                      enddate: 2021-03-06T18:30:00Z
                      nomination_enddate: 2020-12-05T18:30:00Z
                      shortlisting_enddate: 2021-01-09T18:30:00Z
                      content_submission_enddate: 2021-02-06T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-09T05:54:59.811Z
                      updatedon: 2020-11-09T05:55:01.004Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13804
                    program_id: 0f206080-2245-11eb-a039-b7beee6d468c
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Course Assessment
                    - Practice Question Set
                    collection_ids:
                    - do_11314731267376742417
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    createdon: 2020-11-09T04:36:37.019Z
                    updatedon: 2020-11-09T04:36:44.424Z
                    program:
                      program_id: 0f206080-2245-11eb-a039-b7beee6d468c
                      name: DP-1317
                      type: public
                      collection_ids:
                      - do_11311763690369024011026
                      content_types:
                      - Course Assessment
                      - Practice Question Set
                      target_collection_category: 
                      startdate: 2020-11-09T04:36:06.189Z
                      enddate: 2021-02-02T18:30:00Z
                      nomination_enddate: 2020-11-21T18:30:00Z
                      shortlisting_enddate: 2020-12-04T18:30:00Z
                      content_submission_enddate: 2021-01-08T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-09T04:36:06.189Z
                      updatedon: 2020-11-09T04:58:14.299Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13784
                    program_id: 305e50d0-1ff8-11eb-a039-b7beee6d468c
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Asset
                    - CertAsset
                    - Certificate Template
                    - Certificate Template2
                    - TextBook Unit
                    - test123
                    - test-g-4
                    - test g 0114
                    - test g 0112
                    - test g 0111
                    - Test Category Definition
                    - Template
                    - Teacher Resource
                    - Course
                    - Course Assessment
                    - Course Unit
                    - Digital Textbook
                    - eTextbook
                    - Explanation Content
                    - Learning Resource
                    - Lesson Plan Unit
                    - Plugin
                    - obj-cat:certificate-template
                    - Practice Question Set
                    - Certificate Template3
                    - Certificate Template4
                    - Content Playlist
                    collection_ids:
                    - do_113145240752013312112
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    createdon: 2020-11-06T06:22:24.453Z
                    updatedon: 2020-11-06T06:22:39.441Z
                    program:
                      program_id: 305e50d0-1ff8-11eb-a039-b7beee6d468c
                      name: Exploratory
                      type: public
                      collection_ids:
                      - do_11311763690369024011026
                      content_types:
                      - Asset
                      - CertAsset
                      - Certificate Template
                      - Certificate Template2
                      - Certificate Template3
                      - Certificate Template4
                      - Content Playlist
                      - Course
                      - Course Assessment
                      - Course Unit
                      - Digital Textbook
                      - eTextbook
                      - Explanation Content
                      - Learning Resource
                      - Lesson Plan Unit
                      - Plugin
                      - obj-cat:certificate-template
                      - Practice Question Set
                      - Teacher Resource
                      - Template
                      - Test Category Definition
                      - test g 0111
                      - test g 0112
                      - test g 0114
                      - test-g-4
                      - test123
                      - TextBook Unit
                      target_collection_category: 
                      startdate: 2020-11-06T06:20:45.191Z
                      enddate: 2021-03-06T18:30:00Z
                      nomination_enddate: 2020-12-05T18:30:00Z
                      shortlisting_enddate: 2021-01-09T18:30:00Z
                      content_submission_enddate: 2021-02-06T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-06T06:20:45.191Z
                      updatedon: 2020-11-06T06:20:46.684Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13779
                    program_id: b9d1b600-1f52-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Course Assessment
                    - Practice Question Set
                    collection_ids:
                    - do_1131446585830031361275
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    createdon: 2020-11-05T10:36:45.033Z
                    updatedon: 2020-11-05T10:36:51.587Z
                    program:
                      program_id: b9d1b600-1f52-11eb-81b1-659ec274e395
                      name: Resource
                      type: public
                      collection_ids:
                      - do_11313390459514060813
                      content_types:
                      - Course Assessment
                      - Practice Question Set
                      target_collection_category: 
                      startdate: 2020-11-05T10:36:19.116Z
                      enddate: 2021-03-06T18:30:00Z
                      nomination_enddate: 2020-12-05T18:30:00Z
                      shortlisting_enddate: 2021-01-09T18:30:00Z
                      content_submission_enddate: 2021-02-06T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-05T10:36:19.116Z
                      updatedon: 2020-11-05T10:36:21.079Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13770
                    program_id: 6cd89d20-1e7e-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - eTextbook
                    - Explanation Content
                    - Practice Question Set
                    - Course Assessment
                    - Teacher Resource
                    - Learning Resource
                    collection_ids:
                    - do_1131439117379010561134
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 48dc0e70-2775-474b-9b78-def27d047836
                    createdon: 2020-11-04T09:17:39.21Z
                    updatedon: 2020-11-04T09:18:25.777Z
                    program:
                      program_id: 6cd89d20-1e7e-11eb-81b1-659ec274e395
                      name: qwert
                      type: public
                      collection_ids:
                      - do_1131232640033505281322
                      content_types:
                      - eTextbook
                      - Explanation Content
                      - Practice Question Set
                      - Course Assessment
                      - Teacher Resource
                      - Learning Resource
                      target_collection_category: 
                      startdate: 2020-11-04T09:16:52.437Z
                      enddate: 2020-12-04T18:30:00Z
                      nomination_enddate: 2020-11-14T18:30:00Z
                      shortlisting_enddate: 2020-11-24T18:30:00Z
                      content_submission_enddate: 2020-11-29T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-11-04T09:16:52.437Z
                      updatedon: 2020-11-04T09:16:53.491Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["English"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 7"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13757
                    program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - eTextbook
                    - Explanation Content
                    - Practice Question Set
                    - Course Assessment
                    - Teacher Resource
                    - Learning Resource
                    collection_ids:
                    - do_1131432300635340801394
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 48dc0e70-2775-474b-9b78-def27d047836
                    createdon: 2020-11-03T10:11:36.986Z
                    updatedon: 2020-11-03T10:12:25.753Z
                    program:
                      program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                      name: DevHelp1234
                      type: public
                      collection_ids:
                      - do_1131232640033505281322
                      content_types:
                      - eTextbook
                      - Explanation Content
                      - Practice Question Set
                      - Course Assessment
                      - Teacher Resource
                      - Learning Resource
                      target_collection_category: 
                      startdate: 2020-11-03T10:10:00.588Z
                      enddate: 2020-12-09T18:30:00Z
                      nomination_enddate: 2020-11-24T18:30:00Z
                      shortlisting_enddate: 2020-11-29T18:30:00Z
                      content_submission_enddate: 2020-12-04T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-11-03T10:10:00.588Z
                      updatedon: 2020-11-03T10:10:01.296Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["English"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 7"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13753
                    program_id: f77f6f80-1da7-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Asset
                    - CertAsset
                    - Certificate Template
                    - Certificate Template2
                    - Certificate Template3
                    - Certificate Template4
                    - Content Playlist
                    - Course
                    - Course Assessment
                    - Course Unit
                    - TextBook Unit
                    - test123
                    - test-g-4
                    - test g 0114
                    - test g 0112
                    - test g 0111
                    - Test Category Definition
                    - Template
                    - Teacher Resource
                    - Practice Question Set
                    - Plugin
                    - obj-cat:certificate-template
                    - Lesson Plan Unit
                    - Digital Textbook
                    - eTextbook
                    - Explanation Content
                    - Learning Resource
                    collection_ids:
                    - do_1131431575855759361321
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    createdon: 2020-11-03T07:51:31.429Z
                    updatedon: 2020-11-03T07:51:38.453Z
                    program:
                      program_id: f77f6f80-1da7-11eb-81b1-659ec274e395
                      name: DP-10
                      type: public
                      collection_ids:
                      - do_11311763690369024011026
                      content_types:
                      - Asset
                      - CertAsset
                      - Certificate Template
                      - Certificate Template2
                      - Certificate Template3
                      - Certificate Template4
                      - Content Playlist
                      - Course
                      - Course Assessment
                      - Course Unit
                      - Digital Textbook
                      - eTextbook
                      - Explanation Content
                      - Learning Resource
                      - Lesson Plan Unit
                      - obj-cat:certificate-template
                      - Plugin
                      - Practice Question Set
                      - Teacher Resource
                      - Template
                      - Test Category Definition
                      - test g 0111
                      - test g 0112
                      - test g 0114
                      - test-g-4
                      - test123
                      - TextBook Unit
                      target_collection_category: 
                      startdate: 2020-11-03T07:42:32.443Z
                      enddate: 2021-01-07T18:30:00Z
                      nomination_enddate: 2020-11-14T18:30:00Z
                      shortlisting_enddate: 2020-11-21T18:30:00Z
                      content_submission_enddate: 2020-12-05T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-03T07:42:32.443Z
                      updatedon: 2020-11-03T07:42:33.863Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13751
                    program_id: 2445f0d0-1d98-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - Practice Question Set
                    collection_ids:
                    - do_1131431013841059841283
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    createdon: 2020-11-03T05:48:42.303Z
                    updatedon: 2020-11-03T05:48:49.299Z
                    program:
                      program_id: 2445f0d0-1d98-11eb-81b1-659ec274e395
                      name: 1290
                      type: public
                      collection_ids:
                      - do_11311763690369024011026
                      content_types:
                      - Practice Question Set
                      target_collection_category: 
                      startdate: 2020-11-03T05:48:11.367Z
                      enddate: 2021-03-06T18:30:00Z
                      nomination_enddate: 2020-12-05T18:30:00Z
                      shortlisting_enddate: 2021-01-09T18:30:00Z
                      content_submission_enddate: 2021-02-06T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-11-03T05:48:11.367Z
                      updatedon: 2020-11-03T05:48:13.316Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["Hindi"]'
                    matchCount: 3
                  - id: 13676
                    program_id: d8a03150-1841-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - TeachingMethod
                    - PedagogyFlow
                    - FocusSpot
                    - LearningOutcomeDefinition
                    - PracticeQuestionSet
                    - CuriosityQuestionSet
                    - LessonPlanResource
                    - PreviousBoardExamPapers
                    - LearningActivity
                    - ExplanationReadingMaterial
                    - ClassroomTeachingVideo
                    - ExplanationVideo
                    - SelfAssess
                    - ConceptMap
                    - ExperientialResource
                    - ExplanationResource
                    - MarkingSchemeRubric
                    collection_ids:
                    - do_1131382943249121281215
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    createdon: 2020-10-27T10:58:02.346Z
                    updatedon: 2020-10-27T10:58:11.092Z
                    program:
                      program_id: d8a03150-1841-11eb-81b1-659ec274e395
                      name: DP-1304
                      type: public
                      collection_ids:
                      - do_11313390459514060813
                      content_types:
                      - Teacher Resource
                      - Practice Question Set
                      - Explanation Content
                      - Learning Resource
                      - Course Assessment
                      target_collection_category: 
                      startdate: 2020-10-27T10:48:12.033Z
                      enddate: 2021-02-06T18:30:00Z
                      nomination_enddate: 2020-11-07T18:30:00Z
                      shortlisting_enddate: 2020-12-05T18:30:00Z
                      content_submission_enddate: 2021-01-09T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping: 
                      createdby: 5a587cc1-e018-4859-a0a8-e842650b9d64
                      updatedby: 
                      createdon: 2020-10-27T10:48:12.033Z
                      updatedon: 2020-10-27T10:48:14.101Z
                      rootorg_id: 01309282781705830427
                      sourcing_org_name: NIT
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["Mathematics"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 1"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13630
                    program_id: 78e124d0-148c-11eb-81b1-659ec274e395
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - TeachingMethod
                    - PedagogyFlow
                    - FocusSpot
                    - LearningOutcomeDefinition
                    - PracticeQuestionSet
                    - CuriosityQuestionSet
                    - MarkingSchemeRubric
                    - ExplanationResource
                    - ExperientialResource
                    - ConceptMap
                    - SelfAssess
                    - ExplanationVideo
                    - ClassroomTeachingVideo
                    - ExplanationReadingMaterial
                    - LearningActivity
                    - PreviousBoardExamPapers
                    - LessonPlanResource
                    collection_ids:
                    - do_11313495393292288012966
                    feedback: 
                    rolemapping: 
                    createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                    updatedby: 48dc0e70-2775-474b-9b78-def27d047836
                    createdon: 2020-10-22T17:33:10.513Z
                    updatedon: 2020-10-22T17:36:26.248Z
                    program:
                      program_id: 78e124d0-148c-11eb-81b1-659ec274e395
                      name: Dev Test
                      type: public
                      collection_ids:
                      - do_1131232640033505281322
                      content_types:
                      - Teacher Resource
                      - Practice Question Set
                      - Explanation Content
                      - Learning Resource
                      - Course Assessment
                      target_collection_category: 
                      startdate: 2020-10-22T17:32:10.131Z
                      enddate: 2021-01-19T18:30:00Z
                      nomination_enddate: 2020-12-30T18:30:00Z
                      shortlisting_enddate: 2021-01-09T18:30:00Z
                      content_submission_enddate: 2021-01-14T18:30:00Z
                      image: 
                      status: Live
                      slug: sunbird
                      rolemapping:
                        REVIEWER:
                        - 4e397c42-495e-4fdb-8558-f98176230916
                      createdby: 48dc0e70-2775-474b-9b78-def27d047836
                      updatedby: 
                      createdon: 2020-10-22T17:32:10.131Z
                      updatedon: 2020-10-22T17:56:57.724Z
                      rootorg_id: 012983850117177344161
                      sourcing_org_name: Vidya2
                      channel: DIKSHA
                      template_id: template1
                      guidelines_url: 
                      subject: '["English"]'
                      defaultContributeOrgReview: true
                      framework: ekstep_ncert_k-12
                      board: CBSE
                      gradeLevel: '["Class 7"]'
                      medium: '["English"]'
                    matchCount: 3
                  - id: 13617
                    program_id: 1ef254a0-1363-11eb-a8d8-3356e959c4c3
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                    organisation_id: 
                    status: Approved
                    content_types:
                    - TeachingMethod
                    - PedagogyFlow
                    - FocusSpot
                    - LearningOutcomeDefinition
                    - LessonPlanResource
                    - PreviousBoardExamPapers
                    - LearningActivity
                    - ExplanationReadingMaterial
                    - ClassroomTeachingVideo
                    - ExplanationVideo
                    - SelfAssess
                    - ConceptMap
                    - ExperientialResource
                    - ExplanationResource
                    - MarkingSchemeRubric
                    - CuriosityQuestionSet
                    - PracticeQuestionSet
                    collection_ids:
                    - do_11313390789940019212742
                    feedback: 
                    rolemapping: 
[...]
