openapi: 3.0.0
info:
  title: Program Api's
  termsOfService: "https://github.com/project-sunbird/sunbird-commons/blob/master/LICENSE"
  description: Program construct enable to contribution program on sunbird for content creation and content contribution by individual and organisation.

  contact:
    email: info@sunbird.org
  version: "1.0"
servers:
  - url: https://dock.sunbirded.org/api
externalDocs:
  description: "Testcases"
  url: "https://www.getpostman.com/collections/d70b1f821d5abd92fec1"
paths:
  /program/v1/list/download:
    post:
      tags:
        - Program CRUD
      summary: Program List Download
      description: |-
        This API downloads the generated Details of the Program.
            - The **_list/download_** endpoint downloads the generated details of the program.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/list/download
      operationId: ListDownload200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "fetch program generated/Program List Download Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programListDownload200SuccessRequest"
            example:
              request:
                filters:
                  program_id:
                    - afdfa9a0-1dbc-11eb-81b1-659ec274e395
        required: true
      responses:
        200:
          description: "ListDownload200SuccessResponse"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programListDownload200SuccessResponse"
              example:
                id: api.list.download
                ver: 1.0
                ts: 2021-01-07T06:52:58.03Z
                params:
                  resmsgid: f9ce14e0-50b4-11eb-a115-db22788c28aa
                  msgid: f95402e0-50b4-11eb-a115-db22788c28aa
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  tableData:
                    - program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                      values:
                        - Digital Textbook Name: Learning_Outcome_Book
                          Medium:
                            - English
                          Class: Class 7
                          Subject:
                            - English
                          Number of Chapters: 5
                          Nominations Received: 2
                          Samples Received: 0
                          Nominations Accepted: 2
                          Contributions Received: 6
                          Contributions Accepted: 5
                          Contributions Rejected: 0
                          Contributions Pending: 1
                          Contributions corrections pending: 0
        400:
          description: ListDownload400BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programListDownload400BadRequest"
              example:
                id: api.list.download
                ver: 1.0
                ts: 2021-01-07T08:02:37.384Z
                params:
                  resmsgid: b4e4e482-50be-11eb-a115-db22788c28aa
                  msgid:
                  status: failed
                  err: ERR_GENERATING_PROGRAM_DATA
                  errmsg: Required fields like program_id<Array>, is missing
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/configuration/search:
    post:
      tags:
        - Configuration
      summary: Configuration Search
      description: |-
        This API searches the Program Configuration Based on Key provided to it.
            - The **_configuration/search_** endpoint fetch the program configuration for the key provided.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/configuration/search
      operationId: ConfigurationSearch200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Configuration Search Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programConfigurationSearch200SuccessRequest"
            example:
              request:
                key: overrideMetaData
                status: active
        required: true
      responses:
        200:
          description: "Successful Program Configuration Search Response"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programConfigurationSearch400BadRequest"
              example:
                id: api.configuration.search
                ver: 1.0
                ts: 2020-12-02T11:03:07.275Z
                params:
                  resmsgid: f5241db0-348d-11eb-9c32-15914148e3ce
                  msgid: f80986af-e190-f6a4-04c4-c1b984e056e4
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  configuration:
                    id: 9
                    key: overrideMetaData
                    value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
                    status: active
                    createdby:
                    updatedby:
                    createdon: 2020-09-03T11:24:42.13Z
                    updatedon: 2020-09-03T11:24:42.13Z
        401:
          description: "Unauthorized, Failure Program Configuration Search Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program400badRequestwithoutchannel"
              example:
                id: api.error
                ver: 1.0
                ts: 2020-12-03 07:50:55:637+0000
                params:
                  resmsgid: 46298c50-353c-11eb-ada5-dde7a2458a3f
                  msgid:
                  status: failed
                  err: INVALID_TOKEN
                  errmsg: INVALID_TOKEN
                responseCode: UNAUTHORIZED_ACCESS
                result: {}
      deprecated: false
  /program/v1/nomination/update:
    post:
      tags:
        - Nomination
      summary: Nomination Update
      description: |-
        This API updates the Nomination for the respective program Id .
            - The **_nomination/update_** endpoint successfully updates the nomination for a particular program.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/nomination/update
      operationId: NominationUpdate200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Nomination Update Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programNominationUpdate200SuccessRequest"
            example:
              request:
                program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
                status: Initiated
                content_types:
                  - Teacher Resource
                user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
        required: true
      responses:
        200:
          description: "Successful Program Nomination Update Request Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programNominationUpdate200Success"
              example:
                id: api.nomination.update
                ts: 2021-01-08T12:03:50.823Z
                params:
                  resmsgid: 92262b71-51a9-11eb-9ecd-69fe79984d78
                  msgid: 92262b70-51a9-11eb-9ecd-69fe79984d78
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
                  user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
        400:
          description: "Bad Request, Failure Program Nomination Update Request Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programnominationupdate400BadRequest"
        401:
          description: "Unauthorized, Failure Program Nomination Update Request response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program400badRequestwithoutchannel"
              example:
                id: api.error
                ver: 1.0
                ts: 2020-12-03 07:55:28:459+0000
                params:
                  resmsgid: e8c6e1b0-353c-11eb-ada5-dde7a2458a3f
                  msgid:
                  status: failed
                  err: INVALID_TOKEN
                  errmsg: INVALID_TOKEN
                responseCode: UNAUTHORIZED_ACCESS
                result: {}
        404:
          description: "Not Found, Failure Program Nomination Update Request Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program404NotFound"
              example:
                request_path: /program/nomination/update
                message: API not found with these values
                request_host:
                  - kong
      deprecated: false
  /program/v1/nomination/list/download:
    post:
      tags:
        - Nomination
      summary:  Nomination List Download
      description: |-
        This API downloads the nomination list for the provided program Id/User Id .
            - The **_list/download_** will successfully download the nomination list for the Program Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/nomination/list/download
      operationId: NominationListDownload200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Nomination List Download Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programNominationListDownload200SuccessRequest"
            example:
              request:
                filters:
                  program_name: allTypeContent
                  program_id: d16524d0-348a-11eb-9c32-15914148e3ce
                  status:
                    - Pending
                    - Approved
                    - Rejected
        required: true
      responses:
        200:
          description: "Successful Downloading nomination List Data Request"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programNominationListDownload200Success"
              example:
                id: api.list.download
                ver: 1.0
                ts: 2021-01-08T12:14:36.345Z
                params:
                  resmsgid: 12e90290-51ab-11eb-9ecd-69fe79984d78
                  msgid: 12e8b470-51ab-11eb-9ecd-69fe79984d78
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  stats:
                    - programName: allTypeContent
                      name: Vidya2
                      type: Organisation
                      textbooks: 1
                      sample: 0
                      createdon: December 2, 2020
                      status: Approved
                    - programName: allTypeContent
                      name: "anusha "
                      type: Individual
                      textbooks: 1
                      sample: 0
                      createdon: December 2, 2020
                      status: Approved
        400:
          description: "Bad Request, Program nomination List Download Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program400badRequestwithoutchannel"
              example:
                id: api.list.download
                ver: 1.0
                ts: 2020-12-02T18:12:26.673Z
                params:
                  resmsgid: eef05210-34c9-11eb-9c32-15914148e3ce
                  msgid:
                  status: failed
                  err: ERR_DOWNLOADING_NOMINATION_DATA
                  errmsg: Required fields like program_id, program_name, status while getting nomination data are missing
                responseCode: CLIENT_ERROR
                result: {}
        404:
          description: "Not Found, Program Nomination List Download request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program404NotFound"
              example:
                request_path: /program/nomination/list/download
                message: API not found with these values
                request_host:
                  - kong
      deprecated: false
  /program/v1/nomination/list:
    post:
      tags:
        - Nomination
      summary: Nomination List
      description: |-
        This API provides the Nomination List for the respective program Id .
            - The **_nomination/list_** endpoint successfully provides the nomination list for a particular program/User Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/nomination/list
      operationId: NominationList200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Nomination Read/List Request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programNominationList200SuccessRequest"
            example:
              request:
                filters: {}
        required: true
      responses:
        200:
          description: "Successful, Fetch Program Nomination List/Read Request"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programNominationList200Success"
              example:
                id: api.nomination.list
                ts: 2021-01-11T04:43:33.952Z
                params:
                  resmsgid: 8fb4cc01-53c7-11eb-9ecd-69fe79984d78
                  msgid: 8fb4cc00-53c7-11eb-9ecd-69fe79984d78
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  - id: 14258
                    program_id: d4688e90-50ca-11eb-a115-db22788c28aa
                    user_id: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    organisation_id: e7328d77-42a7-44c8-84f4-8cfea235f07d
                    status: Approved
                    content_types:
                      - Course Assessment
                      - eTextbook
                      - Explanation Content
                      - Learning Resource
                      - Practice Question Set
                      - Teacher Resource
                    collection_ids:
                      - do_11318921666818048011613
                    feedback:
                    rolemapping:
                    createdby:
                    updatedby:
                    createdon: 2021-01-07T09:30:00.506Z
                    updatedon:
                    userData:
                      osUpdatedAt: 2020-10-15T18:45:31.316Z
                      lastName: ""
                      firstName: N11
                      gradeLevel: []
                      osCreatedAt: 2020-10-15T18:45:31.316Z
                      enrolledDate: 2020-08-24T11:24:10.893Z
                      "@type": User
                      subject: []
                      channel: 01309282781705830427
                      osid: 179b8dcd-ad56-42fd-83d1-9459bb8e4489
                      medium: []
                      userId: 5a587cc1-e018-4859-a0a8-e842650b9d64
                    orgData:
                      osUpdatedAt: 2020-08-24T11:23:53.873Z
                      code: NIT
                      osCreatedAt: 2020-08-24T11:23:53.873Z
                      createdBy: 9e41deb1-daf3-4e0d-b45d-cfcad7291af9
                      "@type": Org
                      name: NIT
                      description: NIT
                      osid: e7328d77-42a7-44c8-84f4-8cfea235f07d
                      type:
                        - contribute
                        - sourcing
                      orgId: 01309282781705830427
        401:
          description: "Unauthorized,Nomination List/Read Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program400badRequestwithoutchannel"
              example:
                id: api.error
                ver: 1.0
                ts: 2020-12-03 07:52:57:567+0000
                params:
                  resmsgid: 8ed696f0-353c-11eb-ada5-dde7a2458a3f
                  msgid:
                  status: failed
                  err: INVALID_TOKEN
                  errmsg: INVALID_TOKEN
                responseCode: UNAUTHORIZED_ACCESS
                result: {}
      deprecated: false
  /program/v1/preference/create:
    post:
      tags:
        - Preference
      summary: Preference Create
      description: |-
        This API adds the user preferences based on program Id/user Id .
            - The **_preference/create_** endpoint successfully add the preferences for a particular program/User Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/preference/create
      operationId: Preference-create200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Preference Create Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programPreference-create200SuccessRequest"
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                preference:
                  medium:
                    - English
                  subject:
                    - ""
                  gradeLevel:
                    - Class 7
                type: sourcing
        required: true
      responses:
        200:
          description: "Preference-create200Success"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programPreference-create200Success"
              example:
                id: api.preference.create
                ver: 1.0
                ts: 2021-01-11T06:37:52.627Z
                params:
                  resmsgid: 87cb8c30-53d7-11eb-9ecd-69fe79984d78
                  msgid: 87cb6520-53d7-11eb-9ecd-69fe79984d78
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  user_id: 48dc0e70-2775-474b-9b78-def27d047836
                  program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                  type: sourcing
                  sourcing_preference:
                    medium:
                      - English
                    subject:
                      - ""
                    gradeLevel:
                      - Class 7
                  contributor_preference: {}
        400:
          description: Preference400BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programPreference400BadRequest"
              example:
                id: api.preference.create
                ver: 1.0
                ts: 2021-01-11T06:41:19.145Z
                params:
                  resmsgid: 02e3b190-53d8-11eb-a43e-7fcb93a469e2
                  msgid:
                  status: failed
                  err: ERR_CREATE_USER_PREFERENCE
                  errmsg: Required fields like user_id, program_id for adding user preferences are missing
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/preference/read:
    post:
      tags:
        - Preference
      summary: Preference Read
      description: |-
        This API provides the user preferences based on user Id.
            - The **_preference/read_** endpoint successfully fetch the user preferences for a particular User Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/preference/read
      operationId: Preference-read200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Preference Read Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programPreference-read200SuccessRequest"
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: ef3ecc80-3553-11eb-84ed-692ec8c8dbe9
        required: true
      responses:
        200:
          description: "Preference-read200Success"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programPreference-read200Success"
              example:
                id: api.preference.read
                ver: 1.0
                ts: 2021-01-11T06:46:03.524Z
                params:
                  resmsgid: ac647c40-53d8-11eb-9ecd-69fe79984d78
                  msgid: ac642e20-53d8-11eb-9ecd-69fe79984d78
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  contributor_preference: {}
                  sourcing_preference: {}
                  synced: true
                  timestamp: 2020-12-03T10:42:58.288Z
        400:
          description: Preference read 400 BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programPreference400BadRequest"
              example:
                id: api.preference.read
                ver: 1.0
                ts: 2021-01-11T06:46:24.378Z
                params:
                  resmsgid: b8d28da0-53d8-11eb-a43e-7fcb93a469e2
                  msgid:
                  status: failed
                  err: ERR_GET_USER_PREFERENCE
                  errmsg: Required fields like user_id to get preference are missing
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/preference/update:
    post:
      tags:
        - Preference
      summary: Preference Update
      description: |-
        This API updates the user preferences based on user Id.
            - The **_preference/update_** endpoint successfully updates the user preferences for a particular User Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/preference/update
      operationId: Preference-update200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Preference Update Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programPreference-update200SuccessRequest"
            example:
              request:
                user_id: 48dc0e70-2775-474b-9b78-def27d047836
                program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                preference:
                  medium:
                    - English
                  subject:
                    - ""
                  gradeLevel:
                    - ""
                type: sourcing
        required: true
      responses:
        200:
          description: ""
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programPreference-update200Success"
              example:
                id: api.preference.create
                ver: 1.0
                ts: 2021-01-11T06:46:58.423Z
                params:
                  resmsgid: cd1d6870-53d8-11eb-9ecd-69fe79984d78
                  msgid: cd1d1a50-53d8-11eb-9ecd-69fe79984d78
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  user_id: 48dc0e70-2775-474b-9b78-def27d047836
                  program_id: afdfa9a0-1dbc-11eb-81b1-659ec274e395
                  type: sourcing
                  sourcing_preference:
                    medium:
                      - English
                    subject:
                      - ""
                    gradeLevel:
                      - ""
                  contributor_preference: {}
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programPreference400BadRequest"
              example:
                id: api.preference.create
                ver: 1.0
                ts: 2021-01-11T06:47:17.091Z
                params:
                  resmsgid: d83deb31-53d8-11eb-a43e-7fcb93a469e2
                  msgid:
                  status: failed
                  err: ERR_CREATE_USER_PREFERENCE
                  errmsg: Required fields like user_id, program_id for adding user preferences are missing
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/update:
    post:
      tags:
        - Program CRUD
      summary: Program Update
      description: |-
        This API updates the Program Data based on Program Id.
            - The **_v1/update_** endpoint successfully Updates the Program Data for a particular Program Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/update
      operationId: ProgramUpdate200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program update Request Body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programProgramUpdate200SuccessRequest"
        required: true
      responses:
        200:
          description: "Successful Program Update Response"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programProgramUpdate200Successfull"
              example:
                id: api.program.update
                ts: 2020-12-03T08:38:21.34Z
                params:
                  resmsgid: e6555dc1-3542-11eb-84ed-692ec8c8dbe9
                  msgid: e6555dc0-3542-11eb-84ed-692ec8c8dbe9
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  program_id: a043dc40-3497-11eb-9c32-15914148e3ce
        400:
          description: "Bad Request, Program Update Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program400badRequestwithoutchannel"
              example:
                id: api.v1.update
                ver: 1.0
                ts: 2020-12-03T08:53:26.127Z
                params:
                  resmsgid: 01a0e7f0-3545-11eb-84ed-692ec8c8dbe9
                  msgid:
                  status: failed
                  err: ERR_UPDATE_PROGRAM_DATA
                  errmsg: Required fields while updating program data are missing
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/create:
    post:
      tags:
        - Program CRUD
      summary: Program Create
      description: |-
        This API creates the program data for root Org Id or request type.
            - The **_v1/create_** endpoint successfully creates the Program Data for a particular Root Org Id or request type.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/create
      operationId: CreateProgram200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Program Create Request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programCreateProgram200SuccessRequest"
        required: true
      responses:
        200:
          description: "Program Create Successful Response"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programCreateProgram200success"
              example:
                id: api.program.create
                ts: 2020-12-03T08:25:51.2Z
                params:
                  resmsgid: 27371601-3541-11eb-a10c-1da50649277e
                  msgid: 27371600-3541-11eb-a10c-1da50649277e
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  program_id: 26be3c80-3541-11eb-a10c-1da50649277e
        400:
          description: "Bad Request, Nomination Update Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programnominationupdate400BadRequest"
      deprecated: false
  /program/v1/publish:
    post:
      tags:
        - Program CRUD
      summary: Program Publish
      description: |-
        This API publishes the program data for program Id or channel.
            - The **_v1/publish_** endpoint successfully publishes the Program Data for a particular Program Id or channel.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/publish
      operationId: Program-Publish200Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Successful Program publish Request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programProgram-Publish200SuccessRequest"
            example:
              request:
                program_id: a043dc40-3497-11eb-9c32-15914148e3ce
                channel: sunbird
        required: true
      responses:
        200:
          description: "Successful Program Publish Request Response"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programProgram-Publish200Success"
              example:
                id: api.program.publish
                ts: 2020-12-03T08:14:32.077Z
                params:
                  resmsgid: 926d23d1-353f-11eb-86c8-875983bcd642
                  msgid: 926d23d0-353f-11eb-86c8-875983bcd642
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  program_id: a043dc40-3497-11eb-9c32-15914148e3ce
                  afterPublishResponse:
                    nomination:
                      error:
                      result:
                        program_id: a043dc40-3497-11eb-9c32-15914148e3ce
                        user_id: 48dc0e70-2775-474b-9b78-def27d047836
                        organisation_id: e0ab89f4-0fcb-47ea-9b70-3ed0f12b1b7a
                        status: Approved
                        content_types:
                          - Course Assessment
                          - eTextbook
                          - Explanation Content
                          - Learning Resource
                          - Practice Question Set
                          - Teacher Resource
                        collection_ids:
                          - do_1131644069627576321824
                          - do_1131644069627740161825
                          - do_1131644069627330561823
                    userMapping: {}
        400:
          description: "Program Publish Bad Request without channel"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program400badRequestwithoutchannel"
              example:
                id: api.v1.publish
                ver: 1.0
                ts: 2020-12-02T18:28:15.284Z
                params:
                  resmsgid: 245adf40-34cc-11eb-9c32-15914148e3ce
                  msgid:
                  status: failed
                  err: ERR_PUBLISH_PROGRAM_DATA
                  errmsg: Required fields while publishing program data are missing
                responseCode: CLIENT_ERROR
                result: {}
        404:
          description: "Program Publish Not Found Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/program404NotFound"
              example:
                request_path: /v1/publish
                message: API not found with these values
                request_host:
                  - kong
      deprecated: false
  /program/v1/feed/search:
    post:
      tags:
        - Feed Search
      summary: Program-Feed-Search
      description: |-
        This API search for program latest Updates.
            - The **_feed/search_** endpoint successfully loads the latest Updates on program data .
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/feed/search
      operationId: Program-Feed-Search200success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Successful Program feed latest data RequestBody"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programProgram-Feed-Search200successRequest"
            example:
              request:
                nomination:
                  programId:
                    - a549ffa0-3553-11eb-84ed-692ec8c8dbe9
                    - ef3ecc80-3553-11eb-84ed-692ec8c8dbe9

                  status:
                    - Pending
                contribution:
                  programId:
                    - f2c1d380-389a-11eb-af92-c5fb4afce83e
                    - a043dc40-3497-11eb-9c32-15914148e3ce

                  status:
                    - Live
                channel: 012983850117177344161
        required: true
      responses:
        200:
          description: ""
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programProgram-Feed-Search200success"
              example:
                id: api.feed.search
                ver: 1.0
                ts: 2021-01-11T08:51:23.467Z
                params:
                  resmsgid: 2ea0b9b0-53ea-11eb-9ecd-69fe79984d78
                  msgid: 2e3f11b0-53ea-11eb-9ecd-69fe79984d78
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
        400:
          description: Program-Feed-Search Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programProgram-Feed-SearchBadRequest"
              example:
                id: api.feed.search
                ver: 1.0
                ts: 2021-01-11T08:54:00.664Z
                params:
                  resmsgid: 8c531580-53ea-11eb-9ecd-69fe79984d78
                  msgid:
                  status: failed
                  err: ERR_SEARCHING_PROGRAM_FEED
                  errmsg: '[{"request.nomination.programId":"programId should not be empty"}]'
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/read/c43f7790-0a2a-11eb-a2e9-4fe29a51bb70:
    get:
      tags:
        - Program CRUD
      summary: Program Read
      description: |-
        This API get the program Data for program Id.
            - The **_v1/read_** endpoint successfully loads the program data for provided Program Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/read
      operationId: Read-Program-200-Success
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Read-Program"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programRead-Program-200-Success"
      deprecated: false
  /program/v1/unlist/publish:
    post:
      tags:
        - Program CRUD
      summary: Program Unlist Publish
      description: |-
        This API unlist the Published content based on request program Id/ channel.
            - The **_unlist/publish_** endpoint successfully unlist the content published for the provided program Id.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/unlist/publish
      operationId: Unlist-Publish400BadRequest
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Failure Program Unlist Publish Request, invalid request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programUnlist-Publish400BadRequestRequest"
            example:
              request:
                program_id: ""
                channel: sunbird
        required: true
      responses:
        200:
          description: "Successful Unlist-Publish Program Content"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/programresultProgram'
              example:
                id: api.program.publish
                ts: 2021-01-12T10:57:24.721Z
                params:
                  resmsgid: f3e64611-54c4-11eb-8795-e372ee0a4d37
                  msgid: f3e64610-54c4-11eb-8795-e372ee0a4d37
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  program_id: d2f35e20-54c4-11eb-8795-e372ee0a4d37
                  afterPublishResponse:
                    nomination:
                      error:
                      result:
                        program_id: d2f35e20-54c4-11eb-8795-e372ee0a4d37
                        user_id: c5bbabfc-7f2b-4d2e-bdc4-64b0db810817
                        organisation_id: 32625405-bc59-4622-89bb-d06934d690ef
                        status: Approved
                        content_types:
                        - Course Assessment
                        collection_ids:
                        - do_21319279857165107214382
                    userMapping: {}
        400:
          description: Unlist-Publish Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programUnlist-Publish400Success"
              example:
                id: api.unlist.publish
                ver: 1.0
                ts: 2021-01-11T13:03:17.396Z
                params:
                  resmsgid: 5f3b4541-540d-11eb-99da-e37131bdf7ab
                  msgid:
                  status: failed
                  err: ERR_PUBLISH_PROGRAM_DATA
                  errmsg: Required fields while publishing program data are missing
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/list:
    post:
      tags:
        - Program CRUD
      summary: Program List
      description: |-
        This API fetches the program data for the provided request filters.
            - The **_v1/list_** endpoint successfully loads the program data for the request or request filters.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/list
      operationId: ProgramListsuccess-200
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programProgramListsuccess-200Request"
            example:
              request:
                filters:
                  enrolled_id:
                    user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                  status:
                    - Live
                    - Unlisted
        required: true
      responses:
        200:
          description: "Program List success"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programProgramListsuccess-200"
              example:
                id: api.program.list
                ts: 2021-01-07T08:22:19.773Z
                params:
                  resmsgid: 75a722d1-50c1-11eb-a115-db22788c28aa
                  msgid: 75a722d0-50c1-11eb-a115-db22788c28aa
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  count: 1
                  programs:
                    - id: 13936
                      program_id: 8d25f050-8df1-11ea-a3b1-3fc837314429
                      user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
                      organisation_id:
                      status: Initiated
                      content_types:
                        - Teacher Resource
                      collection_ids:
                      feedback:
                      rolemapping:
                      createdby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
                      updatedby:
                      createdon: 2020-11-24T07:57:48.365Z
                      updatedon:
                      program:
                        program_id: 8d25f050-8df1-11ea-a3b1-3fc837314429
                        name: TN tenant Test project
                        type: public
                        collection_ids:
                          - do_11301367038142054411248
                          - do_11301367120541286411551
                        content_types:
                          - Teacher Resource
                        target_collection_category:
                        startdate: 2020-05-04T10:25:18.092Z
                        enddate: 2021-06-18T18:30:00Z
                        nomination_enddate: 2021-03-27T18:30:00Z
                        shortlisting_enddate: 2021-05-01T18:30:00Z
                        content_submission_enddate: 2021-05-01T18:30:00Z
                        image:
                        status: Live
                        slug: sunbird
                        rolemapping:
                          REVIEWER:
                            - 6d9f0332-3662-497d-a8ff-ede453e557e4
                        createdby: 90ffbea3-2f41-4404-868e-2dfbe2ed3656
                        updatedby:
                        createdon: 2020-05-04T10:25:18.092Z
                        updatedon: 2020-10-23T10:18:31.295Z
                        rootorg_id: 013013662290239488220
                        sourcing_org_name: Tamilnadu_Tenant
                        channel: DIKSHA
                        template_id: template1
                        guidelines_url: ""
                        subject: '["Tamil"]'
                        defaultContributeOrgReview:
                        framework: tn_k-12
                        board: State (Tamil Nadu)
                        gradeLevel: '["Class 7"]'
                        medium: '["English", "Tamil"]'
          headers: {}
        400:
          description: ProgramList400BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programProgramList400BadRequest"
              example:
                id: api.list.download
                ver: 1.0
                ts: 2021-01-08T11:38:10.738Z
                params:
                  resmsgid: fc2fd921-51a5-11eb-9ecd-69fe79984d78
                  msgid:
                  status: failed
                  err: ERR_GENERATING_PROGRAM_DATA
                  errmsg: Required fields like program_id<Array>, is missing
                responseCode: CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/report:
    post:
      tags:
        - Report
      summary: Program Report
      description: |-
        This API generate the approved content report for request filters/programs Id's/filter report.
            - The **_v1/report_** endpoint successfully loads the approved content report for program Id's(array).
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/report
      operationId: Report-success-200
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Successful Approved content report Request body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programReport-success-200-Request"
            example:
              request:
                filters:
                  program_id:
                    - 95d604b0-2af4-11eb-9bed-c53bebe417b7
                  openForContribution: true
                  report: textbookLevelReport
        required: true
      responses:
        200:
          description: "Report-success"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programReport-success-200"
              example:
                id: api.v1.report
                ver: 1.0
                ts: 2021-01-11T11:23:09.881Z
                params:
                  resmsgid: 62793a90-53ff-11eb-9c52-f5f4fb791715
                  msgid: 62082940-53ff-11eb-9c52-f5f4fb791715
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  tableData:
                    - - Medium: English
                        Grade: Class 1, Class 2, Class 3, Class 9, Class 10, Class 8, Class 5, Class 7, Class 6, Class 4
                        Subject: Mathematics
                        undefined Name: Math-Magic
                        Total Number of Chapters: 2
                        Total Contents Contributed: 0
                        Total Contents Reviewed: 0
                        Chapters with atleast one approved in each contentType: 0
                        Chapters with atleast one approved: 0
                        Total number of Approved Contents: 0
                        Digital Textbook: 0
        400:
          description: "Report-Error-400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programReport-Error-400"
              example:
                id: api.v1.report
                ver: 1.0
                ts: 2021-01-11T11:23:38.453Z
                params:
                  resmsgid: 7380f850-53ff-11eb-9c52-f5f4fb791715
                  msgid:
                  status: failed
                  err: ERR_GENERATING_CONTENT_REPORT
                  errmsg: Required fields like program_id<Array>,report is missing
                responseCode: PRG_RPT01_CLIENT_ERROR
                result: {}
      deprecated: false
  /program/v1/tenant/list:
    post:
      tags:
        - Tenant list
      summary: Tenant
      description: |-
        This API gives the list of all the tenants.
            - The **_tenant/list_** endpoint successfully gives the list of all the tenants.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/tenant/list
      operationId: Tenant-success-200
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: "Successful Tenant Read/List Request"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/programTenant-success-200-Request"
            example:
              request:
                filters:
                  status: Live
        required: true
      responses:
        200:
          description: "Tenant-success"
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/programTenant-success-200"
              example:
                id: api.tenant.list
                ver: 1.0
                ts: 2021-01-11T11:53:41.373Z
                params:
                  resmsgid: a620bad0-5403-11eb-9c52-f5f4fb791715
                  msgid: a5ba57e0-5403-11eb-9c52-f5f4fb791715
                  status: successful
                  err:
                  errmsg:
                responseCode: OK
                result:
                  count: 1
                  content:
                    - imgUrl:
                      orgName: Tamilnadu_Tenant
                      orgCode:
                      id: 013013662290239488220
                      slug: tn_tenant
                      program_count: 32
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/programTenant-error-400"
              example:
                id: api.tenant.list
                ver: 1.0
                ts: 2021-01-11T11:43:18.952Z
                params:
                  resmsgid: 3322d280-5402-11eb-8dd7-51aa5ed27ae5
                  msgid:
                  status: failed
                  err: ERR_GET_PROGRAMCOUNTS_FAILED
                  errmsg: Error while fetching program count group by facets
                responseCode: SERVER_ERROR
                result: {}
      deprecated: false
  /program/v1/contributor/search:
    post:
      tags:
        - Contributor Search
      summary: Contributor Search
      description: |-
        This API gives the list of all the contributors.
            - The **_contributor/search_** endpoint successfully gives the list of all contributors.
            - All fields marked with an * are mandatory
            - Required fields cannot be null or empty
            - Backend Route: http://program-service:6000/program/v1/contributor/search
      operationId: Contributor-search
      parameters:
        - name: Content-Type
          in: header
          description: The Content Type entity is the media type of the resource
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: Authorization
          in: header
          description:
            To make use of the API, you require authorization. Raise a request
            to the administrator for the use of the API. You will receive the authorization
            key. Specify the key received, here.
          required: true
          schema:
            type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contributorsearch200Request'
            example:
              request:
                filters:
                  user_org:
                    orgId:
                      eq: 18180aff-07ba-4f50-bf4a-04ace80f303b
                    roles:
                    - sourcing_reviewer
                    - sourcing_admin
                fields: []
                limit: 1
                offset: 0
        required: true
      responses:
        '200':
          description: Contributor search 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributorsearch200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributorsearch4001'
      deprecated: false

  /program/v1/form/create:
    post:
      tags:
        - Form API(s)
      summary: Create Form
      description: |-
        This API is used to create a form with default fields using meta data

          - The internal endpoint for **Create Form** is `/plugin/v1/form/create`
          - The fields marked with an asterisk (*) are mandatory. They cannot be null or empty.
      operationId: FormCreate
      parameters:
        - name: Authorization
          in: header
          description: >-
            To make use of any User API, you require authorization. Raise a
            request to the administrator for the use of the API. You will
            receive the authorization key. Specify the key received, here.
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: |-
            The Content Type entity is the media type of the resource.
             Possible media types can be:-
               - Application/json
               - Multipart/form-data
               - Application/x-www-form-urlencoded
          required: true
          schema:
            type: string
      requestBody:
        description: |-
          The body refers to the format of the request.
            - The body contains metadata about the request for creating a form.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/formapiformcreateRequest'
        required: true
      responses:
        '200':
          description: SUCCESS. The "Create Form data" operation was successful!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapicreateResponse'
              examples:
                Course Unit:
                  value: |-
                    {
                        "id": "api.form.create",
                        "params": {
                            "resmsgid": "ae043094-08a8-4eb5-a128-3e42eadf6a06",
                            "msgid": "0f02b637-b4c4-45ed-b9c6-5ec54b591e9c",
                            "status": "successful"
                        },
                        "responseCode": "OK",
                        "result": {
                            "created": "OK"
                        },
                        "ts": "2020-12-09T11:31:12.644Z",
                        "ver": "1.0"
                    }
        '400':
          description: >-
            BAD REQUEST. "Create Form data" operation failed. You may have
            missed input for a mandatory parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapiFailedResponseHeader'
        '500':
          description: >-
            INTERNAL SERVER ERROR. We track these errors automatically and try
            to set it right at the earliest. Try refreshing the page. If the
            problem persists contact us at info@sunbird.org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapiFailedResponseHeader'
      security:
        - bearer: []
      x-codegen-request-body-name: Body
  /program/v1/form/update:
    post:
      tags:
        - Form API(s)
      summary: Update Form
      description: >-
        This API is used to update the form metadata as per the requirement or
        choice

          - The endpoint for **Update Form** is `/plugin/v1/form/update`
          - The fields marked with an asterisk (*) are mandatory. They cannot be null or empty.
      operationId: FormUpdate
      parameters:
        - name: Authorization
          in: header
          description: >-
            To make use of any User API, you require authorization. Raise a
            request to the administrator for the use of the API. You will
            receive the authorization key. Specify the key received, here.
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: |-
            The Content Type entity is the media type of the resource.
             Possible media types can be:-
               - Application/json
               - Multipart/form-data
               - Application/x-www-form-urlencoded
          required: true
          schema:
            type: string
      requestBody:
        description: |-
          The body refers to the format of the request.
            - The body contains metadata about the request for updating a form.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/formapiformcreateRequest'
        required: true
      responses:
        '200':
          description: SUCCESS. The "Update Form" operation was successful!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapicreateResponse'
              examples:
                Update Course Unit:
                  value: |-
                    {
                        "id": "api.form.update",
                        "params": {
                            "resmsgid": "89b226b2-ce80-4a9b-a641-4f47151b7934",
                            "msgid": "131e4aa1-872e-4ab8-aba7-fc2fb39bdcab",
                            "status": "successful"
                        },
                        "responseCode": "OK",
                        "result": {
                            "response": [
                                {
                                    "rootOrgId": "*",
                                    "key": "content.courseunit.unitsave.*",
                                    "status": "SUCCESS"
                                }
                            ]
                        },
                        "ts": "2020-12-09T11:34:47.993Z",
                        "ver": "1.0"
                    }
        '400':
          description: >-
            BAD REQUEST. "Update Form" operation failed. You may have missed
            input for a mandatory parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapiFailedResponseHeader'
        '500':
          description: >-
            INTERNAL SERVER ERROR. We track these errors automatically and try
            to set it right at the earliest. Try refreshing the page. If the
            problem persists contact us at info@sunbird.org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapiFailedResponseHeader'
      security:
        - bearer: []
      x-codegen-request-body-name: Body
  /program/v1/form/read:
    post:
      tags:
        - Form API(s)
      summary: Read Form
      description: >-
        This API is used to view and read the form data and other fields of the
        form

          - The endpoint for **Read Form** is `/program/v1/form/read`
          - The fields marked with an asterisk (*) are mandatory. They cannot be null or empty.
      operationId: FormRead
      parameters:
        - name: Authorization
          in: header
          description: >-
            To make use of any User API, you require authorization. Raise a
            request to the administrator for the use of the API. You will
            receive the authorization key. Specify the key received, here.
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: |-
            The Content Type entity is the media type of the resource.
             Possible media types can be:-
               - Application/json
               - Multipart/form-data
               - Application/x-www-form-urlencoded
          required: true
          schema:
            type: string
      requestBody:
        description: |-
          The body refers to the format of the request.
            - The body contains metadata about the request for reading a form.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/formapiformReadRequest'
        required: true
      responses:
        '200':
          description: SUCCESS. The "Read Form data" operation was successful!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapireadResponse'
              examples:
                Course Unit:
                  value: |-
                    {
                        "id": "api.form.read",
                        "params": {
                            "resmsgid": "b0cbec6a-a602-481b-b1c4-cd4230652c52",
                            "msgid": "c02e139b-07ce-485d-8967-f9eed2bf6bdc",
                            "status": "successful"
                        },
                        "responseCode": "OK",
                        "result": {
                            "form": {
                                "type": "content",
                                "subtype": "courseunit",
                                "action": "unitsave",
                                "component": "*",
                                "framework": "*",
                                "data": {
                                    "templateName": "unitMetaTemplate",
                                    "action": "unitsave",
                                    "fields": [
                                        {
                                            "code": "name",
                                            "dataType": "text",
                                            "description": "Title of the content",
                                            "editable": true,
                                            "index": 1,
                                            "inputType": "text",
                                            "label": "Title",
                                            "name": "Title",
                                            "placeholder": "Enter the Title ",
                                            "renderingHints": {},
                                            "required": true,
                                            "visible": true
                                        },
                                        {
                                            "code": "description",
                                            "dataType": "text",
                                            "description": "Brief description",
                                            "editable": true,
                                            "index": 2,
                                            "inputType": "textarea",
                                            "label": "Description",
                                            "name": "Description",
                                            "placeholder": "Description",
                                            "renderingHints": {},
                                            "required": true,
                                            "visible": true
                                        },
                                        {
                                            "code": "keywords",
                                            "dataType": "list",
                                            "description": "Keywords for the content",
                                            "editable": true,
                                            "index": 3,
                                            "inputType": "keywordsuggestion",
                                            "label": "keywords",
                                            "name": "Keywords",
                                            "placeholder": "Enter Keywords",
                                            "required": true,
                                            "visible": true
                                        },
                                        {
                                            "code": "topic",
                                            "dataType": "list",
                                            "description": "Choose a topic",
                                            "editable": true,
                                            "index": 4,
                                            "inputType": "topicselector",
                                            "label": "Topics",
                                            "name": "Topics",
                                            "placeholder": "Choose Topics",
                                            "renderingHints": {},
                                            "required": false,
                                            "visible": true
                                        }
                                    ]
                                },
                                "created_on": "2020-12-09T11:31:12.565Z",
                                "last_modified_on": "2020-12-09T11:34:46.917Z",
                                "rootOrgId": "*"
                            }
                        },
                        "ts": "2020-12-09T11:36:19.586Z",
                        "ver": "1.0"
                    }
        '400':
          description: >-
            BAD REQUEST. "Read Form data" operation failed. You may have missed
            input for a mandatory parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapiFailedResponseHeader'
        '500':
          description: >-
            INTERNAL SERVER ERROR. We track these errors automatically and try
            to set it right at the earliest. Try refreshing the page. If the
            problem persists contact us at info@sunbird.org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/formapiFailedResponseHeader'
      security:
        - bearer: []
      x-codegen-request-body-name: Body

components:
  schemas:
    programListDownload200SuccessRequest:
      title: ListDownload200SuccessRequest
      description: "Successful Program List Download generated from DB"
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/programListDownloadRequest"
      example:
        request:
          filters:
            program_id:
              - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    programListDownloadRequest:
      title: ListDownloadRequest
      description: "Program list/data Download request/generate program List Data"
      required:
        - filters
      type: object
      properties:
        filters:
          $ref: "#/components/schemas/programListDownloadFilters"
      example:
        filters:
          program_id:
            - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    programListDownloadFilters:
      title: Filters
      description: "Program list/data download filters Request"
      required:
        - program_id
      type: object
      properties:
        program_id:
          type: array
          items:
            type: string
          description: "list of unique program ids"
      example:
        program_id:
          - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    programListDownload400BadRequestRequest:
      title: ListDownload400BadRequestRequest
      description: "Failure List/data Download Request, invalid request body"
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/programListNominationDownloadRequest1"
      example:
        request:
          filters: {}
    programListNominationDownloadRequest1:
      title: ListNominationDownloadRequest1
      description: "Nomination List/data Download Request"
      required:
        - filters
      type: object
      properties:
        filters:
          type: object
          description: This represents the filter data
      example:
        filters: {}
    programListDownload404NotFoundRequest:
      title: ListDownload404NotFoundRequest
      description: "Failure Program list/data Download Request, invalid url/request body"
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/programListDownloadRequest"
      example:
        request:
          filters:
            program_id:
              - afdfa9a0-1dbc-11eb-81b1-659ec274e395
    programProgramListsuccess-200Request:
      title: ProgramListsuccess-200Request
      description: "Successful Program Read Request"
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/programProgramListRequest"
      example:
        request:
          filters:
            enrolled_id:
              user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
            status:
              - Live
              - Unlisted
    programProgramListRequest:
      title: ProgramListRequest
      description: "Program Read Request/Fetch Program data Request"
      required:
        - filters
      type: object
      properties:
        filters:
          $ref: "#/components/schemas/programProgramListFilters"
      example:
        filters:
          enrolled_id:
            user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
          status:
            - Live
            - Unlisted
    programProgramListFilters:
      title: ProgramListFilters
      description: "Program list/option filters,required enrolled_id and status"
      required:
        - enrolled_id
        - status
      type: object
      properties:
        enrolled_id:
          $ref: "#/components/schemas/programEnrolledId"
        status:
          type: array
          items:
            type: string
          description: "list/options key value status of program"
      example:
        enrolled_id:
          user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
        status:
          - Live
          - Unlisted
    programEnrolledId:
      title: EnrolledId
      description: "User id"
      required:
        - user_id
      type: object
      properties:
        user_id:
          type: string
          description: "unique id identifying specific user"
      example:
        user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
    programProgramList400-errorRequest:
      title: ProgramList400-errorRequest
      description: "Failure Program Read/list Request, invalid request body"
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/programProgramList400Request"
      example:
        request:
          filter:
            status:
              - Live
              - Unlisted
            role:
              - REVIEWER
            user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
    programProgramList400Request:
      title: ProgramList400Request
      description: "Failure Program List Request"
      required:
        - filter
      type: object
      properties:
        filter:
          $ref: "#/components/schemas/programProgramListFilter"
      example:
        filter:
          status:
            - Live
            - Unlisted
          role:
            - REVIEWER
          user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
    programProgramListFilter:
      title: ProgramListFilter
      description: "Program List/read filter Request, required status, role, user_id"
      required:
        - status
        - role
        - user_id
      type: object
      properties:
        status:
          type: array
          items:
            type: string
          description: "list/options key value status of program"
        role:
          type: array
          items:
            type: string
          description: "list roles supported by program"
        user_id:
          type: string
          description: "unique id identifying specific user"
      example:
        status:
          - Live
          - Unlisted
        role:
          - REVIEWER
        user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
    programProgramList500-errorRequest:
      title: ProgramList500-errorRequest
      description: "Failure Program Read Request, invalid url/request mode"
      required:
        - requests
      type: object
      properties:
        requests:
          $ref: "#/components/schemas/programProgramList500Requests"
      example:
        requests:
          filters:
            status:
              - Live
              - Unlisted
            role:
              - REVIEWER
            user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
            medium:
              - English
            gradeLevel:
              - Class 1
    programProgramList500Requests:
      title: ProgramList500Requests
      description: "Failure Program Read Request, required filter"
      required:
        - filters
      type: object
      properties:
        filters:
          $ref: "#/components/schemas/programProgramList500Filters"
      example:
        filters:
          status:
            - Live
            - Unlisted
          role:
            - REVIEWER
          user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
          medium:
            - English
          gradeLevel:
            - Class 1
    programProgramList500Filters:
      title: ProgramList500Filters
      description: "Failure Program Read/List Filters, required status, role, user_id, medium, gradelevel"
      required:
        - status
        - role
        - user_id
        - medium
        - gradeLevel
      type: object
      properties:
        status:
          type: array
          items:
            type: string
          description: "list/options key value status of program"
        role:
          type: array
          items:
            type: string
          description: "list/options roles supported by program"
        user_id:
          type: string
          description: "Unique id identifies specific user"
        medium:
          type: array
          items:
            type: string
          description: "list of medium supported by program"
        gradeLevel:
          type: array
          items:
            type: string
          description: "grade level list supported by program"
      example:
        status:
          - Live
          - Unlisted
        role:
          - REVIEWER
        user_id: d63056e0-c58d-4724-aa84-285a68ea24fb
        medium:
          - English
        gradeLevel:
          - Class 1
    programConfigurationSearch400BadRequestRequest:
      title: ConfigurationSearch400BadRequestRequest
      description: "Failure configuring Search Request, missing key or status"
      required:
        - request
      type: object
      properties:
        request:
          type: object
      example:
        request: {}
    programConfigurationSearch200SuccessRequest:
      title: ConfigurationSearch200SuccessRequest
      description: "Successful Configuration Search Request"
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/programConfigurationSearch200Request"
      example:
        request:
          key: overrideMetaData
          status: active
    programConfigurationSearch200Request:
      title: ConfigurationSearch200Request
      description: "Successful Configuration Search Request,required key or status"
      required:
        - key
        - status
      type: object
      properties:
        key:
          type: string
          description: "Unique key for configuration Search"
        status:
          type: string
          description: "program status for configuration Search"
      example:
        key: overrideMetaData
        status: active
    programConfigurationSearch400BadRequest:
      title: ConfigurationSearch400BadRequest
      description: "Failure Configuring Search Request, invalid request body/missing required fields"
      required:
        - id
        - ver
        - ts
        - params
        - responseCode
        - result
      type: object
      properties:
        id:
          type: string
          description: "unique id identifies particular program"
        ver:
          type: string
          description: version
        ts:
          type: string
          description: "timestamp"
        params:
          $ref: "#/components/schemas/programProgramParams"
        responseCode:
          type: string
          description: "response code/status"
        result:
          $ref: "#/components/schemas/programConfigurationSearchResult"
      example:
        id: api.configuration.search
        ver: 1.0
        ts: 2020-12-02T11:03:07.275Z
        params:
          resmsgid: f5241db0-348d-11eb-9c32-15914148e3ce
          msgid: f80986af-e190-f6a4-04c4-c1b984e056e4
          status: successful
          err:
          errmsg:
        responseCode: OK
        result:
          configuration:
            id: 9
            key: overrideMetaData
            value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
            status: active
            createdby:
            updatedby:
            createdon: 2020-09-03T11:24:42.13Z
            updatedon: 2020-09-03T11:24:42.13Z
    programProgramParams:
      title: Program Params
      description: "Required Program list/parameters"
      required:
        - resmsgid
        - msgid
        - status
        - err
        - errmsg
      type: object
      properties:
        resmsgid:
          type: string
          description: "unique response message id"
        msgid:
          type: string
          description: "unique message id"
        status:
          type: string
          description: "program status"
        err:
          type: string
          nullable: true
          description: "detailed object of error occurred"
        errmsg:
          type: string
          nullable: true
          description: "error message/error description"
      example:
        resmsgid: f5241db0-348d-11eb-9c32-15914148e3ce
        msgid: f80986af-e190-f6a4-04c4-c1b984e056e4
        status: successful
        err:
        errmsg:
    programConfigurationSearchResult:
      title: ConfigurationSearchResult
      description: "Result object/data for configuration search"
      required:
        - configuration
      type: object
      properties:
        configuration:
          $ref: "#/components/schemas/programConfiguration"
      example:
        configuration:
          id: 9
          key: overrideMetaData
          value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
          status: active
          createdby:
          updatedby:
          createdon: 2020-09-03T11:24:42.13Z
          updatedon: 2020-09-03T11:24:42.13Z
    programConfiguration:
      title: Configuration
      description: "Configuration Parameters"
      required:
        - id
        - key
        - value
        - status
        - createdby
        - updatedby
        - createdon
        - updatedon
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: "Unique configuration id"
        key:
          type: string
          description: "Unique Configuration key"
        value:
          type: string
          description: "value/data of the respective key"
        status:
          type: string
          description: "Configuration Status"
        createdby:
          type: string
          nullable: true
          description: "program configuration created by"
        updatedby:
          type: string
          nullable: true
          description: "program configuration updated by"
        createdon:
          type: string
          description: "program configuration created on"
        updatedon:
          type: string
          description: "program configuration updated on"
      example:
        id: 9
        key: overrideMetaData
        value: '[{"code":"name","dataType":"text","editable":true},{"code":"learningOutcome","dataType":"list","editable":true},{"code":"attributions","dataType":"list","editable":false},{"code":"copyright","dataType":"text","editable":false},{"code":"creator","dataType":"text","editable":false},{"code":"license","dataType":"list","editable":false},{"code":"contentPolicyCheck","dataType":"boolean","editable":false}]'
        status: active
        createdby:
        updatedby:
        createdon: 2020-09-03T11:24:42.13Z
        updatedon: 2020-09-03T11:24:42.13Z
    programProgram-PublishParams:
      title: Program-PublishParams
      description: "Parameters/list of program publish"
      required:
        - resmsgid
        - msgid
        - status
        - err
        - errmsg
      type: object
      properties:
        resmsgid:
          type: string
          description: "Unique response message id"
        msgid:
          type: string
          nullable: true
          description: "Unique message id"
        status:
          type: string
          description: "status of the response"
        err:
          type: string
          description: "data/details on error occurred"
        errmsg:
          type: string
          description: "error message"
      example:
        resmsgid: 46298c50-353c-11eb-ada5-dde7a2458a3f
        msgid:
        status: failed
        err: INVALID_TOKEN
        errmsg: INVALID_TOKEN
    programNominationUpdate200SuccessRequest:
      title: NominationUpdate200SuccessRequest
      description: "Successfull Request to update Nomination Data"
      required:
        - request
      type: object
      properties:
        request:
          $ref: "#/components/schemas/programNominationUpdateRequest"
      example:
        request:
          program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
          status: Initiated
          content_types:
            - Teacher Resource
          user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
          updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
    programNominationUpdateRequest:
      title: NominationUpdateRequest
      description: "Request/list for Update Nomination"
      required:
        - program_id
        - status
        - content_types
        - user_id
        - updatedby
      type: object
      properties:
        program_id:
          type: string
          description: "unique id identifies particular program"
        status:
          type: string
          description: "Status/state of nomination"
        content_types:
          type: array
          items:
            type: string
          description: "contenttypes list for nomination update"
        user_id:
          type: string
          description: "unique id specifies a user"
        updatedby:
          type: string
          description: "credential of user updated nomination"
      example:
        program_id: c43f7790-0a2a-11eb-a2e9-4fe29a51bb70
        status: Initiated
        content_types:
          - Teacher Resource
        user_id: 19ba0e4e-9285-4335-8dd0-f674bf03fa4d
        updatedby: bcc23eec-5290-4ca2-8f3e-144a24f03b6d
    programnominationupdate400BadRequest:
      title: nominationupdate400BadRequest
      description: "Failure in updating nomination data, invalid request body"
      required:
        - id
        - ts
        - params
        - responseCode
        - result
      type: object
      properties:
        id:
          type: string
          description: "unique id of particular user"
        ts:
          type: string
          description: Represents the EPOCH epoch time in milliseconds
        params:
          $ref: "#/components/schemas/programNominationUpdateParams"
        responseCode:
          type: string
          description: "Code/status of response of the nomination update request"
        result:
          $ref: "#/components/schemas/programNominationUpdateResult"
    programNominationUpdateParams:
      title: NominationUpdateParams
      description: "Parameters/list for update Nomination"
      required:
        - resmsgid
        - msgid
        - status
      type: object
      properties:
        resmsgid:
          type: string
          description: "response message id"
        msgid:
          type: string
          nullable: true
          description: "unique message id required for update nomination"
        status:
          type: string
          description: "status/state of the nomination"
      example:
        resmsgid: 776d9731-34c3-11eb-9c32-15914148e3ce
        msgid:
        status: failed
    programNominationUpdateResult:
      title: NominationUpdateResult
      description: "Object data/Result of Nomination Update"
      required:
        - name
        - parent
        - original
        - sql
        - parameters
      type: object
      properties:
        name:
          type: string
          description: "Name of the program"
        parent:
          $ref: "#/components/schemas/programNominationUpdatParent"
        original:
          $ref: "#/components/schemas/programNominationUpdateOriginal"
        sql:
          type: string
          description: "sql statement"
        parameters:
          type: array
          description: "parameter/object for nomination update"
          items:
            type: array
            items:
              type: string
    programNominationUpdatParent:
      title: NominationUpdatParent
      description: "Update nomination Parent parameters"
      required:
        - name
        - length
        - severity
        - code
        - file
        - line
        - routine
        - sql
        - parameters
      type: object
      properties:
        name:
          type: string
          description: "name of the program"
        length:
          type: integer
          format: int32
          description: "length of the data params"
        severity:
          type: string
          description: "severity level"
        code:
          type: string
          description: "unique code for status of nomination"
        file:
          type: string
          description: "file path/name for update nomination"
        line:
          type: string
          description: "line"
        routine:
          type: string
          description: "set of routine for update sql statement"
        sql:
          type: string
          description: "sql statement"
        parameters:
          type: array
          description: This represents the list of parameters for nomination update
          items:
            type: array
            items:
              type: string
    programNominationUpdateOriginal:
[...]
